Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

chore(cli): rename CLI command from 'cli' to 'mt'
  package.json
  tooling/cli/package.json
  tooling/cli/src/index.ts
Due: biome-check, biome-ci-check, lockfile-check

fix(cors): allow Vercel preview origins on Render preview deployments
  packages/api/lib/cors.ts
Due: biome-check, biome-ci-check

docs(skill): add CLI skill documentation
  .claude/skills/cli/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

feat(cli): add developer CLI with feature flag status command (#188)
  .claude/skills/cli/SKILL.md
  package.json
  packages/agent-sdk/src/session/persistence/prisma.ts
  pnpm-lock.yaml
  tooling/cli/package.json
  tooling/cli/src/commands/features.ts
  tooling/cli/src/index.ts
  tooling/cli/tsconfig.json
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

fix(cors): use RENDER env var instead of IS_PULL_REQUEST
  packages/api/lib/cors.ts
Due: biome-check, biome-ci-check

fix(api-server): add dynamic CORS origin validation for preview environments
  apps/api-server/src/lib/server.ts
Due: biome-check, biome-ci-check

feat(auth): hide GitHub and passkey auth options via feature flags
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/modules/saas/auth/components/SignupForm.tsx
  apps/web/modules/saas/auth/lib/auth-feature-flags.test.ts
Due: biome-check, biome-ci-check

fix(database): add rhel-openssl-3.0.x to Prisma binary targets
  packages/database/prisma/schema.prisma
Due: prisma-sync-check

fix(utils): use VERCEL_URL at runtime for preview deployments
  packages/utils/lib/base-url.ts
Due: biome-check, biome-ci-check

feat(cli): add create-feature command for PostHog feature flags
  tooling/cli/src/commands/create-feature.ts
  tooling/cli/src/index.ts
Due: biome-check, biome-ci-check

fix(auth): change test user password to avoid JSON parsing issues
  .claude/skills/application-environments/SKILL.md
  CLAUDE.md
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/tests/avatar-upload-external.spec.ts
  apps/web/tests/avatar-upload.spec.ts
  supabase/seed.sql
Due: biome-check, biome-ci-check, markdownlint

feat(auth): hide GitHub and passkey auth options via feature flags (#193)
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/modules/saas/auth/components/SignupForm.tsx
  apps/web/modules/saas/auth/lib/auth-feature-flags.test.ts
  tooling/cli/src/commands/create-feature.ts
  tooling/cli/src/index.ts
Due: biome-check, biome-ci-check

test(utils): add coverage for Vercel preview URL detection
  packages/utils/lib/base-url.test.ts
Due: biome-check, biome-ci-check

docs(skills): add local Supabase + worktree setup guidance
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(ui): correct usage page URL paths
  apps/web/modules/saas/start/components/CreditsOverview.tsx
  apps/web/modules/saas/start/components/RecentActivityFeed.tsx
Due: biome-check, biome-ci-check

feat(ui): enhance landing page and app backgrounds with animations (#194)
  apps/web/app/(marketing)/layout.tsx
  apps/web/app/(saas)/app/(account)/chatbot/page.tsx
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/chatbot/page.tsx
  apps/web/modules/marketing/home/components/FinalCta.tsx
  apps/web/modules/marketing/home/components/Hero.tsx
  apps/web/modules/marketing/shared/components/AnimatedBackground.tsx
  apps/web/modules/saas/shared/components/AppWrapper.tsx
  apps/web/modules/saas/shared/components/CommandPalette.test.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/saas/shared/components/NavBar.tsx
  apps/web/modules/saas/start/components/CreditsOverview.tsx
  apps/web/modules/saas/start/components/GettingStartedChecklist.tsx
  apps/web/modules/saas/start/components/RecentActivityFeed.tsx
  apps/web/tests/landing-page.spec.ts
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check

fix: standardize on Supabase local for development database
  .claude/skills/git-worktrees/SKILL.md
  CLAUDE.md
  supabase/seed.sql
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

feat(news-analyzer): improve UI/UX for results and detail views
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-form.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  apps/web/modules/ui/components/badge.test.tsx
  apps/web/modules/ui/components/badge.tsx
Due: biome-check, biome-ci-check

fix(auth): update test user password hash for Better Auth compatibility
  packages/auth/password.integration.test.ts
  supabase/seed.sql
Due: biome-check, biome-ci-check

chore(api-server): add automatic Node.js version switching
  apps/api-server/package.json
  apps/api-server/scripts/ensure-node-version.sh
Due: biome-check, biome-ci-check, lockfile-check

docs: update skills and CLAUDE.md with debugging learnings
  .claude/skills/async-jobs/SKILL.md
  .claude/skills/better-auth/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/reflect-for-skill-updates/SKILL.md
  CLAUDE.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

feat(share): add public sharing support for news analyses (PRA-169) (#165)
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  CLAUDE.md
  apps/api-server/src/lib/server.ts
  apps/web/app/(share)/layout.tsx
  apps/web/app/(share)/share/news-analyzer/[analysisId]/page.tsx
  apps/web/app/(share)/share/news-analyzer/[analysisId]/shared-news-analysis.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/modules/shared/lib/orpc-client.ts
  apps/web/tests/avatar-upload-external.spec.ts
  apps/web/tests/avatar-upload.spec.ts
  package.json
  packages/api/lib/cors.ts
  packages/api/modules/news-analyzer/lib/processor.test.ts
  packages/api/modules/news-analyzer/lib/processor.ts
  packages/api/modules/share/procedures/get-news-analysis.ts
  packages/api/modules/share/router.test.ts
  packages/api/modules/share/router.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/news-analysis.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  packages/utils/lib/base-url.test.ts
  packages/utils/lib/base-url.ts
  supabase/seed.sql
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

fix: use TestPassword123 for test user to match E2E tests
  .claude/skills/better-auth/SKILL.md
  packages/auth/password.integration.test.ts
  supabase/seed.sql
Due: biome-check, biome-ci-check, markdownlint

feat(news-analyzer): UI/UX improvements and developer tooling enhancements (#195)
  .claude/skills/async-jobs/SKILL.md
  .claude/skills/better-auth/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/reflect-for-skill-updates/SKILL.md
  CLAUDE.md
  apps/api-server/package.json
  apps/api-server/scripts/ensure-node-version.sh
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-form.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  apps/web/modules/ui/components/badge.test.tsx
  apps/web/modules/ui/components/badge.tsx
  packages/auth/password.integration.test.ts
  supabase/seed.sql
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

chore: test worktree skill verification
  README.md
Due: biome-check, biome-ci-check, markdownlint

docs(skills): add troubleshooting for missing PostHog keys
  .claude/skills/git-worktrees/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(ui): align tool card buttons uniformly
  apps/web/modules/saas/tools/components/ToolCard.tsx
Due: biome-check, biome-ci-check

feat(ui): extract SemiCircleGauge as reusable shared component
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  apps/web/modules/shared/components/SemiCircleGauge.tsx
Due: biome-check, biome-ci-check

feat(news-analyzer): add article preview thumbnails
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  packages/api/modules/news-analyzer/lib/content-extractor.test.ts
  packages/api/modules/news-analyzer/lib/content-extractor.ts
  packages/api/modules/news-analyzer/lib/processor.test.ts
  packages/api/modules/news-analyzer/lib/processor.ts
Due: biome-check, biome-ci-check

refactor(news-analyzer): make thumbnails and titles clickable links
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
Due: biome-check, biome-ci-check

feat(news-analyzer): redesign detail and share pages with unified Summary card
  apps/web/app/(share)/share/news-analyzer/[analysisId]/shared-news-analysis.tsx
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
Due: biome-check, biome-ci-check

feat(speaker-separation): add history with storage and detail pages (PRA-171)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/(saas)/app/tools/speaker-separation/[jobId]/page.tsx
  apps/web/app/(saas)/app/tools/speaker-separation/page.tsx
  apps/web/app/api/tools/speaker-separation/audio/[jobId]/route.ts
  apps/web/components/tools/speaker-separation/index.ts
  apps/web/components/tools/speaker-separation/lib/history-utils.test.ts
  apps/web/components/tools/speaker-separation/lib/history-utils.ts
  apps/web/components/tools/speaker-separation/lib/types.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-with-history.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/speaker-separation/lib/audio-storage.test.ts
  packages/api/modules/speaker-separation/lib/audio-storage.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
  packages/database/prisma/migrations/20260128211908_add_audio_storage_fields/migration.sql
  packages/database/prisma/queries/tool-jobs.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
Due: biome-check, biome-ci-check, prisma-sync-check

chore: rename app from Software Multitool to AI Multitool
  .claude/skills/architecture/SKILL.md
  .claude/skills/better-auth/SKILL.md
  .claude/skills/cicd/SKILL.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/landing-page-design/examples.md
  .claude/skills/prisma-migrate/SKILL.md
  .claude/skills/prisma-migrate/pgboss-reference.md
  .github/workflows/run-codex.yml
  CONTRIBUTING.md
  README.md
  apps/api-server/.env.example
  apps/web/app/apple-icon.tsx
  apps/web/app/manifest.test.ts
  apps/web/app/manifest.ts
  apps/web/app/opengraph-image.test.ts
  apps/web/app/opengraph-image.tsx
  apps/web/app/twitter-image.test.ts
  apps/web/app/twitter-image.tsx
  apps/web/content/docs/getting-started/overview.mdx
  apps/web/content/docs/index.mdx
  apps/web/content/posts/first-post.mdx
  apps/web/modules/marketing/home/components/Newsletter.tsx
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/modules/saas/shared/components/Footer.tsx
  apps/web/modules/shared/components/Logo.tsx
  config/index.test.ts
  config/index.ts
  docs/brand-colors.md
  docs/ci-testing.md
  package.json
  packages/api/modules/news-analyzer/lib/content-extractor.ts
  packages/database/scripts/init-pgboss-schema.mjs
  packages/database/scripts/seed-local.sh
  packages/database/scripts/verify-pgboss-schema.mjs
  packages/mail/emails/OrganizationInvitation.tsx
  packages/mail/src/components/Logo.tsx
  packages/mail/src/util/translations.ts
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(news-analyzer): UI/UX improvements for detail and share pages (#196)
  .claude/skills/git-worktrees/SKILL.md
  README.md
  apps/web/app/(share)/share/news-analyzer/[analysisId]/shared-news-analysis.tsx
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  apps/web/modules/saas/tools/components/ToolCard.tsx
  apps/web/modules/shared/components/SemiCircleGauge.tsx
  packages/api/modules/news-analyzer/lib/content-extractor.test.ts
  packages/api/modules/news-analyzer/lib/content-extractor.ts
  packages/api/modules/news-analyzer/lib/processor.test.ts
  packages/api/modules/news-analyzer/lib/processor.ts
Due: biome-check, biome-ci-check, markdownlint

feat(speaker-separation): add history with storage and detail pages (PRA-171) (#197)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/(saas)/app/tools/speaker-separation/[jobId]/page.tsx
  apps/web/app/(saas)/app/tools/speaker-separation/page.tsx
  apps/web/app/api/tools/speaker-separation/audio/[jobId]/route.ts
  apps/web/components/tools/speaker-separation/index.ts
  apps/web/components/tools/speaker-separation/lib/history-utils.test.ts
  apps/web/components/tools/speaker-separation/lib/history-utils.ts
  apps/web/components/tools/speaker-separation/lib/types.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-with-history.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/speaker-separation/lib/audio-storage.test.ts
  packages/api/modules/speaker-separation/lib/audio-storage.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
  packages/database/prisma/migrations/20260128211908_add_audio_storage_fields/migration.sql
  packages/database/prisma/queries/tool-jobs.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260128211908_add_audio_storage_fields.sql
Due: biome-check, biome-ci-check, prisma-sync-check

fix(api-server): add /api/health endpoint for proxy health checks
  apps/api-server/src/lib/server.test.ts
  apps/api-server/src/lib/server.ts
Due: biome-check, biome-ci-check

docs(skills): add EMFILE troubleshooting and clarify local dev workflow
  .claude/skills/application-environments/SKILL.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

chore(skills): streamline cicd skill
  .claude/skills/cicd/SKILL.md
  .claude/skills/cicd/troubleshooting.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): simplify application-environments skill
  .claude/skills/application-environments/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): streamline linear-workflow skill
  .claude/skills/linear-workflow/SKILL.md
Due: biome-check, biome-ci-check, markdownlint
