Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

fix(diagram-editor): make Reset button icon-only and align with selector (#249)
  apps/web/components/tools/diagram-editor/diagram-editor-input.tsx
Due: biome-check, biome-ci-check

fix(agent-sdk): replace deprecated haiku model id
  packages/agent-sdk/README.md
  packages/agent-sdk/prompt.ts
  packages/agent-sdk/src/models.ts
  packages/agent-sdk/src/session/examples/feedback-collector.test.ts
  packages/agent-sdk/src/session/session.integration.test.ts
  packages/agent-sdk/src/session/session.test.ts
  packages/agent-sdk/src/session/types.ts
Due: biome-check, biome-ci-check, markdownlint

fix(agent-sdk): update to supported haiku model id claude-haiku-4-5-20251001
  packages/agent-sdk/src/models.ts
  packages/agent-sdk/src/session/examples/feedback-collector.test.ts
  packages/agent-sdk/src/session/session.integration.test.ts
  packages/agent-sdk/src/session/session.test.ts
Due: biome-check, biome-ci-check

fix(ci): checkout PR head sha in validate workflow
  .github/workflows/validate-prs.yml
Due: none

fix(ci): checkout PR head sha in validate workflow (#315)
  .github/workflows/validate-prs.yml
Due: none

chore: tighten local evaluation reliability and setup ergonomics
  .nvmrc
  CONTRIBUTING.md
  README.md
  REPO_OPS_PLAYBOOK.md
  packages/database/scripts/seed-local.sh
  tooling/scripts/package.json
  tooling/scripts/src/check-local-preview-user.mjs
  tooling/scripts/src/local-eval-smoke.sh
  tooling/scripts/src/local-eval-smoke.test.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.test.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.ts
  tooling/scripts/src/repo-feedback.sh
  tooling/scripts/src/run-local-seed.mjs
  tooling/scripts/src/run-local-seed.test.ts
  tooling/scripts/src/run-supabase-cli.test.ts
  tooling/scripts/src/setup-local.sh
  tooling/scripts/src/setup-local.test.ts
  tooling/scripts/src/supabase/run-supabase-cli.sh
  tooling/scripts/src/supabase/supabase-local.sh
  tooling/scripts/src/worktree-setup.sh
  tooling/scripts/src/worktree-setup.test.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

chore: scope pre-commit tests for setup follow-up files
  apps/web/.env.local.example
  package.json
  tooling/scripts/src/pre-commit/run-targeted-tests.test.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.ts
Due: biome-check, biome-ci-check, lockfile-check

test: stabilize root package diff coverage
  tooling/scripts/src/pre-commit/run-targeted-tests.test.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.ts
Due: biome-check, biome-ci-check

test: clean up web dashboard and dialog test fixtures
  apps/web/modules/saas/credits/hooks/use-credits-balance.test.tsx
  apps/web/modules/saas/credits/hooks/use-credits-history.test.tsx
  apps/web/modules/saas/credits/hooks/use-usage-stats.test.tsx
  apps/web/modules/saas/start/components/DashboardWidgets.test.tsx
  apps/web/modules/saas/start/hooks/use-recent-jobs.test.ts
  apps/web/modules/ui/components/alert-dialog.test.tsx
Due: biome-check, biome-ci-check

test: quiet expected local storage read errors
  packages/storage/provider/local/index.test.ts
Due: biome-check, biome-ci-check

test: scope database harness pre-commit coverage
  packages/database/tests/postgres-test-harness.test.ts
  packages/database/tests/postgres-test-harness.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.test.ts
  tooling/scripts/src/pre-commit/run-targeted-tests.ts
Due: biome-check, biome-ci-check

test: skip integration slices without container runtime
  packages/auth/auth.integration.test.ts
  packages/auth/password.integration.test.ts
  packages/database/package.json
  packages/database/tests/container-runtime.mjs
  packages/database/tests/container-runtime.test.ts
  packages/database/tests/run-vitest.mjs
Due: biome-check, biome-ci-check, lockfile-check

test: keep dockerless workspace feedback green
  package.json
  packages/api/package.json
  packages/api/tests/run-vitest.mjs
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

test: quiet expected api router error logs
  packages/api/modules/contact/router.test.ts
  packages/api/modules/newsletter/router.test.ts
Due: biome-check, biome-ci-check

test: finalize rate-limit middleware response in credit test
  packages/api/lib/credit-middleware.test.ts
Due: biome-check, biome-ci-check

test: quiet expected payments router error logs
  packages/api/modules/payments/router.test.ts
Due: biome-check, biome-ci-check

test: quiet expected news analyzer processor logs
  packages/api/modules/news-analyzer/lib/processor.test.ts
Due: biome-check, biome-ci-check

test: quiet expected speaker separation and job logs
  packages/api/modules/jobs/router.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
Due: biome-check, biome-ci-check

test: quiet dotenv tips during workspace test runs
  package.json
Due: biome-check, biome-ci-check, lockfile-check

test: quiet dotenv banner in api vitest runs
  packages/api/tests/run-vitest.mjs
Due: biome-check, biome-ci-check

test: quiet dotenv and supabase api-client test logs
  tests/setup/environment.ts
  tooling/scripts/src/supabase/api-client.test.ts
Due: biome-check, biome-ci-check

test: quiet agent-sdk integration stdout noise
  packages/agent-sdk/integration.test.ts
  packages/agent-sdk/src/session/session.integration.test.ts
Due: biome-check, biome-ci-check

test: add baseline coverage for shared config packages
  tooling/tailwind/theme-files.test.ts
  tooling/typescript/config-files.test.ts
Due: biome-check, biome-ci-check

test: quiet dockerless test runner banners
  packages/api/tests/run-vitest.mjs
  packages/database/tests/container-runtime.mjs
  packages/database/tests/container-runtime.test.ts
  packages/database/tests/run-vitest.mjs
Due: biome-check, biome-ci-check

test: quiet auth password integration debug logs
  packages/auth/password.integration.test.ts
Due: biome-check, biome-ci-check

test: quiet api integration debug output
  packages/api/modules/news-analyzer/lib/content-extractor.integration.test.ts
  packages/api/modules/news-analyzer/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

test: stabilize tool component tab interaction
  apps/web/modules/tools/components/ToolComponents.test.tsx
Due: biome-check, biome-ci-check

test: split and share tool component fixtures
  apps/web/modules/tools/components/DocumentToolComponents.test.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  apps/web/modules/tools/components/WorkflowToolComponents.test.tsx
  apps/web/modules/tools/components/tool-components-test-support.tsx
Due: biome-check, biome-ci-check

test: parallelize agent-sdk integration coverage
  packages/agent-sdk/integration.test.ts
  packages/agent-sdk/src/session/session.integration.test.ts
Due: biome-check, biome-ci-check

test: speed up command palette component coverage
  apps/web/modules/saas/shared/components/CommandPalette.test.tsx
Due: biome-check, biome-ci-check

test: speed up command palette coverage
  apps/web/modules/saas/shared/components/CommandPalette.test.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
Due: biome-check, biome-ci-check

test: speed up processor registration coverage
  packages/api/modules/jobs/lib/register-all-processors.test.ts
Due: biome-check, biome-ci-check

test: speed up processor registration coverage
  packages/api/modules/jobs/lib/register-all-processors.test.ts
  packages/api/modules/jobs/lib/register-all-processors.ts
Due: biome-check, biome-ci-check

test: speed up api app coverage
  packages/api/index.test.ts
Due: biome-check, biome-ci-check

test: clean up command palette cmdk test doubles
  apps/web/modules/saas/shared/components/CommandPalette.test.tsx
Due: biome-check, biome-ci-check

test: speed up storage provider coverage
  packages/storage/provider/s3/index.test.ts
  packages/storage/provider/supabase/index.test.ts
Due: biome-check, biome-ci-check

ci: align weekly-test-summary node version with rest of CI (lts/* not node 20)
  .github/workflows/weekly-test-summary.yml
Due: none

style: fix biome formatting in notifications api test
  apps/web/modules/saas/notifications/lib/api.test.ts
Due: biome-check, biome-ci-check
