Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

biome-check:
  name: Biome check (format + lint)
  entry: pnpm
  args:
  - exec
  - biome
  - check
  - --write
  - --no-errors-on-unmatched
  language: system
  pass_filenames: true

biome-ci-check:
  name: Biome CI parity check (staged files)
  entry: pnpm
  args:
  - exec
  - biome
  - ci
  - --no-errors-on-unmatched
  language: system
  pass_filenames: true

lockfile-check:
  name: Check pnpm lockfile is up to date
  entry: bash
  args:
  - -c
  ...

markdownlint:
  name: Markdown lint and format
  entry: pnpm
  args:
  - exec
  - markdownlint-cli2
  - --fix
  language: system
  pass_filenames: true

prisma-sync-check:
  name: Verify Prisma client is in sync with schema
  entry: pnpm
  args:
  - --filter
  - '@repo/scripts'
  - exec
  - tsx
  - src/pre-commit/check-prisma-sync.ts
  language: system
  pass_filenames: false

chore(ci): condition preview deployments on deploy-preview label (PRA-166)
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  vercel.json
Due: biome-check, biome-ci-check

test(auth): add error handling tests for notification modules
  packages/auth/lib/security-notifications.test.ts
  packages/auth/lib/team-notifications.test.ts
Due: biome-check, biome-ci-check

feat(tooling): add automated worktree setup script (PRA-163) (#141)
  .claude/skills/git-worktrees/SKILL.md
  package.json
  tooling/scripts/src/worktree-setup.sh
  tooling/scripts/src/worktree-setup.test.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

fix(storage): use member relation for org ID in avatar migration
  tooling/scripts/src/storage/migrate-user-avatars.ts
Due: biome-check, biome-ci-check

chore(ci): condition preview deployments on deploy-preview label (PRA-166) (#144)
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  vercel.json
Due: biome-check, biome-ci-check

feat(notifications): wire up notification triggers for key events (PRA-131) (#143)
  packages/api/modules/notifications/service/index.ts
  packages/api/modules/notifications/service/notification-service.ts
  packages/auth/auth.ts
  packages/auth/lib/security-notifications.test.ts
  packages/auth/lib/security-notifications.ts
  packages/auth/lib/team-notifications.test.ts
  packages/auth/lib/team-notifications.ts
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/notification-triggers.ts
  packages/mail/emails/NotificationEmail.tsx
  packages/mail/emails/index.ts
  packages/mail/src/util/translations.ts
  packages/payments/package.json
  packages/payments/provider/stripe/index.ts
  packages/payments/src/lib/billing-notifications.test.ts
  packages/payments/src/lib/billing-notifications.ts
  packages/payments/src/lib/helper.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(api): implement Speaker Separation API with AssemblyAI (PRA-41)
  apps/web/.env.local.example
  config/index.ts
  packages/api/modules/jobs/lib/register-all-processors.ts
  packages/api/modules/speaker-separation/index.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/lib/register.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

chore(storage): remove avatar migration script
  .claude/skills/storage/SKILL.md
  tooling/scripts/package.json
  tooling/scripts/src/storage/migrate-user-avatars.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

test(api): add integration tests for speaker separation with real AssemblyAI
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

ci: add ASSEMBLYAI_API_KEY to workflow for integration tests
  .github/workflows/validate-prs.yml
Due: none

chore(storage): remove avatar migration script (PRA-165) (#145)
  .claude/skills/storage/SKILL.md
  tooling/scripts/package.json
  tooling/scripts/src/storage/migrate-user-avatars.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

fix(auth): resolve 'no active organization' warning race condition (PRA-167)
  apps/web/modules/saas/credits/hooks/use-credits-balance.test.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
  apps/web/modules/saas/organizations/hooks/use-active-organization.ts
  apps/web/modules/saas/organizations/lib/active-organization-context.ts
Due: biome-check, biome-ci-check

feat(branding): create marketing brand assets (PRA-162)
  apps/web/app/apple-icon.test.ts
  apps/web/app/apple-icon.tsx
  apps/web/app/manifest.test.ts
  apps/web/app/manifest.ts
  apps/web/app/opengraph-image.test.ts
  apps/web/app/opengraph-image.tsx
  apps/web/app/twitter-image.test.ts
  apps/web/app/twitter-image.tsx
  packages/mail/src/components/Wrapper.tsx
Due: biome-check, biome-ci-check

feat(expense-categorizer): add CSV/Excel batch upload support (PRA-77)
  apps/web/modules/tools/components/ExpenseCategorizerTool.tsx
  apps/web/modules/tools/lib/expense-file-parser.test.ts
  apps/web/modules/tools/lib/expense-file-parser.ts
  apps/web/package.json
  config/index.ts
  config/types.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(api): implement Speaker Separation API with AssemblyAI (PRA-41) (#146)
  .github/workflows/validate-prs.yml
  apps/web/.env.local.example
  config/index.ts
  packages/api/modules/jobs/lib/register-all-processors.ts
  packages/api/modules/speaker-separation/index.ts
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/lib/register.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(branding): create marketing brand assets (PRA-162) (#148)
  apps/web/app/apple-icon.test.ts
  apps/web/app/apple-icon.tsx
  apps/web/app/manifest.test.ts
  apps/web/app/manifest.ts
  apps/web/app/opengraph-image.test.ts
  apps/web/app/opengraph-image.tsx
  apps/web/app/twitter-image.test.ts
  apps/web/app/twitter-image.tsx
  packages/mail/src/components/Wrapper.tsx
Due: biome-check, biome-ci-check

fix(auth): resolve 'no active organization' warning race condition (PRA-167) (#147)
  apps/web/modules/saas/credits/hooks/use-credits-balance.test.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
  apps/web/modules/saas/organizations/hooks/use-active-organization.ts
  apps/web/modules/saas/organizations/lib/active-organization-context.ts
Due: biome-check, biome-ci-check

fix(admin): add type annotation for resource parameter in AuditLogList
  apps/web/modules/saas/admin/component/audit-logs/AuditLogList.tsx
Due: biome-check, biome-ci-check

fix(ai): add type annotation to sort callback in AiChat
  apps/web/modules/saas/ai/components/AiChat.tsx
Due: biome-check, biome-ci-check

fix(ai): add type annotation to map callback in AiChat
  apps/web/modules/saas/ai/components/AiChat.tsx
Due: biome-check, biome-ci-check

fix(notifications): add type annotation to map callback
  apps/web/modules/saas/notifications/components/NotificationDropdown.tsx
Due: biome-check, biome-ci-check

fix(settings): add type annotations to DataExportForm callbacks
  apps/web/modules/saas/settings/components/DataExportForm.tsx
Due: biome-check, biome-ci-check

fix(ci): add Prisma generate step to preview deploy workflow
  .github/workflows/preview-deploy.yml
Due: none

feat(expense-categorizer): add CSV/Excel batch upload support (PRA-77) (#149)
  .github/workflows/preview-deploy.yml
  apps/web/modules/saas/admin/component/audit-logs/AuditLogList.tsx
  apps/web/modules/saas/ai/components/AiChat.tsx
  apps/web/modules/saas/notifications/components/NotificationDropdown.tsx
  apps/web/modules/saas/settings/components/DataExportForm.tsx
  apps/web/modules/tools/components/ExpenseCategorizerTool.tsx
  apps/web/modules/tools/lib/expense-file-parser.test.ts
  apps/web/modules/tools/lib/expense-file-parser.ts
  apps/web/package.json
  config/index.ts
  config/types.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(news-analyzer): add history table and detail pages (PRA-168)
  apps/web/app/(saas)/app/tools/news-analyzer/[jobId]/page.tsx
  apps/web/app/(saas)/app/tools/news-analyzer/page.tsx
  apps/web/components/tools/news-analyzer/index.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.test.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-with-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  packages/api/modules/jobs/procedures/delete-job.integration.test.ts
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/jobs/router.ts
  packages/database/prisma/queries/tool-jobs.ts
Due: biome-check, biome-ci-check

feat(database): enable RLS on sensitive auth tables (PRA-139)
  packages/database/prisma/migrations/20260121180222_enable_rls_sensitive_auth_tables/migration.sql
  packages/database/tests/rls-sensitive-tables.integration.test.ts
  supabase/migrations/20260121180222_enable_rls_sensitive_auth_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): enable RLS on sensitive auth tables (PRA-139) (#151)
  packages/database/prisma/migrations/20260121180222_enable_rls_sensitive_auth_tables/migration.sql
  packages/database/tests/rls-sensitive-tables.integration.test.ts
  supabase/migrations/20260121180222_enable_rls_sensitive_auth_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(storybook): add Storybook 8.x for component documentation
  .gitignore
  CLAUDE.md
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/modules/ui/components/button.stories.tsx
  apps/web/package.json
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(storybook): add Storybook 8.x for component documentation (#152)
  .gitignore
  CLAUDE.md
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/modules/ui/components/button.stories.tsx
  apps/web/package.json
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

fix(news-analyzer): prevent redirect loop by cleaning up polling on unmount
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
Due: biome-check, biome-ci-check

feat(database): enable RLS on remaining auth tables (PRA-140)
  packages/database/prisma/migrations/20260121221942_enable_rls_remaining_auth_tables/migration.sql
  packages/database/tests/rls-remaining-auth-tables.integration.test.ts
  supabase/migrations/20260121221942_enable_rls_remaining_auth_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(news-analyzer): add history table and detail pages (PRA-168) (#150)
  apps/web/app/(saas)/app/tools/news-analyzer/[jobId]/page.tsx
  apps/web/app/(saas)/app/tools/news-analyzer/page.tsx
  apps/web/components/tools/news-analyzer/index.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.test.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-with-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  packages/api/modules/jobs/procedures/delete-job.integration.test.ts
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/jobs/router.ts
  packages/database/prisma/queries/tool-jobs.ts
Due: biome-check, biome-ci-check

feat(speaker-separation): implement frontend UI for speaker separation tool (PRA-107)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  apps/web/modules/tools/components/index.ts
Due: biome-check, biome-ci-check

feat(database): enable RLS on remaining auth tables (PRA-140) (#153)
  packages/database/prisma/migrations/20260121221942_enable_rls_remaining_auth_tables/migration.sql
  packages/database/tests/rls-remaining-auth-tables.integration.test.ts
  supabase/migrations/20260121221942_enable_rls_remaining_auth_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): enable RLS on organization/membership tables (PRA-141)
  packages/database/prisma/migrations/20260122004651_enable_rls_org_membership_tables/migration.sql
  packages/database/tests/rls-org-membership-tables.integration.test.ts
  supabase/migrations/20260122004651_enable_rls_org_membership_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

style: format test file
  packages/database/tests/rls-org-membership-tables.integration.test.ts
Due: biome-check, biome-ci-check

feat(database): enable RLS on organization/membership tables (PRA-141) (#156)
  packages/database/prisma/migrations/20260122004651_enable_rls_org_membership_tables/migration.sql
  packages/database/tests/rls-org-membership-tables.integration.test.ts
  supabase/migrations/20260122004651_enable_rls_org_membership_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): enable RLS on application data tables (PRA-142)
  packages/database/prisma/migrations/20260122200000_enable_rls_application_data_tables/migration.sql
  packages/database/tests/rls-application-data-tables.integration.test.ts
  supabase/migrations/20260122200000_enable_rls_application_data_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

fix(database): use correct AuditAction enum values in tests
  packages/database/tests/rls-application-data-tables.integration.test.ts
Due: biome-check, biome-ci-check

Path conditions:
  biome-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.css$
  biome-ci-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.css$
  lockfile-check: any of: package\.json$
  markdownlint: any of: \.(md|markdown|mdown)$
  prisma-sync-check: any of: packages/database/prisma/(schema\.prisma|migrations/)
