Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

biome-check:
  name: Biome check (format + lint)
  entry: pnpm
  args:
  - exec
  - biome
  - check
  - --write
  - --no-errors-on-unmatched
  language: system
  pass_filenames: true

biome-ci-check:
  name: Biome CI parity check (staged files)
  entry: pnpm
  args:
  - exec
  - biome
  - ci
  - --no-errors-on-unmatched
  language: system
  pass_filenames: true

lockfile-check:
  name: Check pnpm lockfile is up to date
  entry: bash
  args:
  - -c
  ...

markdownlint:
  name: Markdown lint and format
  entry: pnpm
  args:
  - exec
  - markdownlint-cli2
  - --fix
  language: system
  pass_filenames: true

prisma-sync-check:
  name: Verify Prisma client is in sync with schema
  entry: pnpm
  args:
  - --filter
  - '@repo/scripts'
  - exec
  - tsx
  - src/pre-commit/check-prisma-sync.ts
  language: system
  pass_filenames: false

feat(ui): change app font to Space Grotesk for modern geometric style (PRA-153) (#125)
  .claude/skills/typography/SKILL.md
  apps/web/modules/shared/components/Document.tsx
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check, markdownlint

fix(payments): resolve Stripe checkout customer_creation conflict
  packages/payments/provider/polar/index.ts
  packages/payments/provider/stripe/credit-pack-handler.test.ts
  packages/payments/provider/stripe/credit-webhooks.test.ts
  packages/payments/provider/stripe/index.ts
Due: biome-check, biome-ci-check

feat(credits): add purchase history to balance API
  packages/api/modules/credits/procedures/get-balance.ts
  packages/api/modules/credits/router.test.ts
  packages/api/modules/credits/schemas.ts
  packages/database/prisma/queries/credit-balance.ts
Due: biome-check, biome-ci-check

feat(ui): improve credit balance display clarity
  apps/web/modules/saas/credits/components/CreditBalanceCard.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
Due: biome-check, biome-ci-check

chore(ui): remove unused seat-based pricing verbiage
  apps/web/modules/saas/payments/components/ActivePlan.tsx
  apps/web/modules/saas/payments/components/PricingTable.tsx
Due: biome-check, biome-ci-check

feat(credits): add credit pack purchase UI (PRA-123) (#114)
  .claude/skills/git-worktrees/SKILL.md
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/settings/billing/page.tsx
  apps/web/modules/saas/credits/components/CreditBalanceCard.tsx
  apps/web/modules/saas/credits/components/CreditPackCard.test.tsx
  apps/web/modules/saas/credits/components/CreditPackCard.tsx
  apps/web/modules/saas/credits/components/CreditPacksSection.tsx
  apps/web/modules/saas/credits/components/LowCreditsWarning.tsx
  apps/web/modules/saas/credits/components/TransactionHistory.tsx
  apps/web/modules/saas/credits/hooks/use-credit-pack-purchase.test.tsx
  apps/web/modules/saas/credits/hooks/use-credit-pack-purchase.ts
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
  apps/web/modules/saas/credits/lib/get-transaction-source.test.ts
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
  apps/web/modules/saas/payments/components/ActivePlan.tsx
  apps/web/modules/saas/payments/components/PricingTable.tsx
  apps/web/modules/shared/components/Spinner.tsx
  apps/web/package.json
  apps/web/tests/billing.spec.ts
  package.json
  packages/api/modules/credits/procedures/get-balance.ts
  packages/api/modules/credits/router.test.ts
  packages/api/modules/credits/schemas.ts
  packages/database/prisma/queries/credit-balance.ts
  packages/payments/provider/polar/index.ts
  packages/payments/provider/stripe/credit-pack-handler.test.ts
  packages/payments/provider/stripe/credit-webhooks.test.ts
  packages/payments/provider/stripe/index.ts
  tooling/scripts/src/stripe/validate-webhooks.mjs
  tooling/scripts/src/worktree-port.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

fix(ci): install Playwright browser system dependencies in CI
  apps/web/package.json
Due: biome-check, biome-ci-check, lockfile-check

feat(tools): add feature flagging to control tool visibility (PRA-152)
  apps/web/.env.local.example
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/(saas)/app/tools/page.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/saas/start/components/RecentlyUsedTools.tsx
  apps/web/modules/saas/tools/components/ToolCard.tsx
  apps/web/modules/saas/tools/hooks/use-tools.ts
  apps/web/modules/saas/tools/lib/tool-flags.test.ts
  apps/web/modules/saas/tools/lib/tool-flags.ts
Due: biome-check, biome-ci-check

fix(ci): wait for Supabase preview before running E2E tests
  .github/workflows/validate-prs.yml
Due: none

fix(tools): wrap Tooltip with TooltipProvider in ToolCard
  apps/web/modules/saas/tools/components/ToolCard.tsx
Due: biome-check, biome-ci-check

fix(ci): install Playwright browser system dependencies in CI (PRA-156) (#132)
  .github/workflows/validate-prs.yml
  apps/web/package.json
Due: biome-check, biome-ci-check, lockfile-check

feat(tools): add feature flagging to control tool visibility (PRA-152) (#124)
  apps/web/.env.local.example
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/(saas)/app/tools/page.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/saas/start/components/RecentlyUsedTools.tsx
  apps/web/modules/saas/tools/components/ToolCard.tsx
  apps/web/modules/saas/tools/hooks/use-tools.ts
  apps/web/modules/saas/tools/lib/tool-flags.test.ts
  apps/web/modules/saas/tools/lib/tool-flags.ts
Due: biome-check, biome-ci-check

test: skip integration tests when API keys are missing
  packages/agent-sdk/integration.test.ts
  packages/api/modules/news-analyzer/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

chore: disable Sentry on non-production deployments
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Due: biome-check, biome-ci-check

revert: restore original integration test behavior
  packages/agent-sdk/integration.test.ts
  packages/api/modules/news-analyzer/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

chore: disable Sentry on non-production deployments (#133)
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Due: biome-check, biome-ci-check

feat(marketing): add product showcase landing page (PRA-151)
  apps/web/app/(marketing)/(home)/page.tsx
  apps/web/modules/marketing/home/components/Features.tsx
  apps/web/modules/marketing/home/components/FinalCta.tsx
  apps/web/modules/marketing/home/components/Hero.tsx
  apps/web/modules/marketing/home/components/HowItWorks.tsx
  apps/web/tests/home.spec.ts
  apps/web/tests/landing-page.spec.ts
  apps/web/tests/smoke.spec.ts
Due: biome-check, biome-ci-check

fix(tests): handle multiple h1 elements in landing page E2E tests
  apps/web/tests/landing-page.spec.ts
Due: biome-check, biome-ci-check

feat(config): add feature flag to disable blog functionality
  apps/web/app/(marketing)/blog/[...path]/page.tsx
  apps/web/app/(marketing)/blog/page.tsx
  apps/web/app/sitemap.ts
  apps/web/modules/marketing/shared/components/Footer.tsx
  apps/web/modules/marketing/shared/components/NavBar.tsx
  apps/web/tests/smoke.spec.ts
  config/index.test.ts
  config/index.ts
  config/types.ts
Due: biome-check, biome-ci-check

fix: prevent 400 error on /credits/balance when no active organization
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.test.tsx
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.test.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
Due: biome-check, biome-ci-check

feat(marketing): add product showcase landing page (PRA-151) (#134)
  apps/web/app/(marketing)/(home)/page.tsx
  apps/web/modules/marketing/home/components/Features.tsx
  apps/web/modules/marketing/home/components/FinalCta.tsx
  apps/web/modules/marketing/home/components/Hero.tsx
  apps/web/modules/marketing/home/components/HowItWorks.tsx
  apps/web/tests/home.spec.ts
  apps/web/tests/landing-page.spec.ts
  apps/web/tests/smoke.spec.ts
Due: biome-check, biome-ci-check

feat(config): add feature flag to disable blog functionality (#135)
  apps/web/app/(marketing)/blog/[...path]/page.tsx
  apps/web/app/(marketing)/blog/page.tsx
  apps/web/app/sitemap.ts
  apps/web/modules/marketing/shared/components/Footer.tsx
  apps/web/modules/marketing/shared/components/NavBar.tsx
  apps/web/tests/smoke.spec.ts
  config/index.test.ts
  config/index.ts
  config/types.ts
Due: biome-check, biome-ci-check

fix: prevent 400 error on /credits/balance when no active organization (#136)
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.test.tsx
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.test.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
Due: biome-check, biome-ci-check

fix(api-proxy): improve error handling for preview environment API unavailability
  apps/web/app/(saas)/layout.tsx
  apps/web/app/api/proxy/[...path]/route.ts
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
  apps/web/modules/shared/components/PreviewStatusBanner.tsx
  apps/web/modules/shared/hooks/use-api-status.ts
  apps/web/modules/shared/lib/api-error-utils.test.ts
  apps/web/modules/shared/lib/api-error-utils.ts
Due: biome-check, biome-ci-check

feat(brand): define brand color palette with blue primary
  docs/brand-colors.md
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check, markdownlint

test: fix outdated heading text in example-with-fixtures E2E test
  apps/web/tests/example-with-fixtures.spec.ts
Due: biome-check, biome-ci-check

fix(api-proxy): improve error handling for preview environment API unavailability (#137)
  apps/web/app/(saas)/layout.tsx
  apps/web/app/api/proxy/[...path]/route.ts
  apps/web/modules/saas/credits/components/CreditBalanceIndicator.tsx
  apps/web/modules/saas/credits/hooks/use-credits-balance.ts
  apps/web/modules/shared/components/PreviewStatusBanner.tsx
  apps/web/modules/shared/hooks/use-api-status.ts
  apps/web/modules/shared/lib/api-error-utils.test.ts
  apps/web/modules/shared/lib/api-error-utils.ts
  apps/web/tests/example-with-fixtures.spec.ts
Due: biome-check, biome-ci-check

feat(brand): enhance primary button with gradient and shadow
  apps/web/modules/ui/components/button.tsx
Due: biome-check, biome-ci-check

feat(brand): define brand color palette with blue primary (PRA-159) (#138)
  apps/web/modules/ui/components/button.tsx
  docs/brand-colors.md
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check, markdownlint

feat(ui): update component styling to match brand colors (PRA-160)
  apps/web/modules/ui/components/alert-dialog.test.tsx
  apps/web/modules/ui/components/alert-dialog.tsx
  apps/web/modules/ui/components/badge.test.tsx
  apps/web/modules/ui/components/badge.tsx
  apps/web/modules/ui/components/card.test.tsx
  apps/web/modules/ui/components/card.tsx
  apps/web/modules/ui/components/table.test.tsx
  apps/web/modules/ui/components/table.tsx
Due: biome-check, biome-ci-check

feat(ui): establish iconography system with standardized sizing (PRA-161)
  apps/web/modules/ui/components/icon.test.tsx
  apps/web/modules/ui/components/icon.tsx
Due: biome-check, biome-ci-check

feat(ui): update component styling to match brand colors (PRA-160) (#140)
  apps/web/modules/ui/components/alert-dialog.test.tsx
  apps/web/modules/ui/components/alert-dialog.tsx
  apps/web/modules/ui/components/badge.test.tsx
  apps/web/modules/ui/components/badge.tsx
  apps/web/modules/ui/components/card.test.tsx
  apps/web/modules/ui/components/card.tsx
  apps/web/modules/ui/components/table.test.tsx
  apps/web/modules/ui/components/table.tsx
Due: biome-check, biome-ci-check

docs(skills): add iconography skill documentation (PRA-161)
  .claude/skills/iconography/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

feat(tooling): add automated worktree setup script (PRA-163)
  .claude/skills/git-worktrees/SKILL.md
  package.json
  tooling/scripts/src/worktree-setup.sh
  tooling/scripts/src/worktree-setup.test.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(ui): establish iconography system with standardized sizing (PRA-161) (#139)
  .claude/skills/iconography/SKILL.md
  apps/web/modules/ui/components/icon.test.tsx
  apps/web/modules/ui/components/icon.tsx
Due: biome-check, biome-ci-check, markdownlint

fix(tooling): use bash 3.2 compatible uppercase syntax
  tooling/scripts/src/worktree-setup.sh
Due: none

feat(storage): establish multi-tenant file upload path conventions (PRA-164)
  .claude/skills/storage/SKILL.md
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
  packages/storage/index.ts
  packages/storage/paths.test.ts
  packages/storage/paths.ts
  pnpm-lock.yaml
  tooling/scripts/package.json
  tooling/scripts/src/storage/migrate-user-avatars.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(storage): establish multi-tenant file upload path conventions (PRA-164) (#142)
  .claude/skills/storage/SKILL.md
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
  packages/storage/index.ts
  packages/storage/paths.test.ts
  packages/storage/paths.ts
  pnpm-lock.yaml
  tooling/scripts/package.json
  tooling/scripts/src/storage/migrate-user-avatars.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(notifications): wire up notification triggers for key events (PRA-131)
  packages/api/modules/notifications/service/index.ts
  packages/api/modules/notifications/service/notification-service.ts
  packages/auth/auth.ts
  packages/auth/lib/security-notifications.test.ts
  packages/auth/lib/security-notifications.ts
  packages/auth/lib/team-notifications.test.ts
  packages/auth/lib/team-notifications.ts
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/notification-triggers.ts
  packages/mail/emails/NotificationEmail.tsx
  packages/mail/emails/index.ts
  packages/mail/src/util/translations.ts
  packages/payments/package.json
  packages/payments/provider/stripe/index.ts
  packages/payments/src/lib/billing-notifications.test.ts
  packages/payments/src/lib/billing-notifications.ts
  packages/payments/src/lib/helper.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

fix(tooling): address code review issues in worktree setup script
  tooling/scripts/src/worktree-setup.sh
  tooling/scripts/src/worktree-setup.test.ts
Due: biome-check, biome-ci-check

Path conditions:
  biome-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.css$
  biome-ci-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$, \.css$
  lockfile-check: any of: package\.json$
  markdownlint: any of: \.(md|markdown|mdown)$
  prisma-sync-check: any of: packages/database/prisma/(schema\.prisma|migrations/)
