Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

fix(database): use unique ID in audit_log read test
  packages/database/tests/rls-application-data-tables.integration.test.ts
Due: biome-check, biome-ci-check

feat(database): enable RLS on application data tables (PRA-142) (#157)
  packages/database/prisma/migrations/20260122200000_enable_rls_application_data_tables/migration.sql
  packages/database/tests/rls-application-data-tables.integration.test.ts
  supabase/migrations/20260122200000_enable_rls_application_data_tables.sql
Due: biome-check, biome-ci-check, prisma-sync-check

fix(speaker-separation): register worker and accept base64 audio input
  apps/api-server/src/workers/index.ts
  packages/api/modules/speaker-separation/lib/__fixtures__/.gitignore
  packages/api/modules/speaker-separation/lib/__fixtures__/README.md
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
Due: biome-check, biome-ci-check, markdownlint

test(speaker-separation): relax percentage assertion for audio with silence
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

docs(speaker-separation): add comment explaining CI cost savings
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
Due: biome-check, biome-ci-check

fix(web): add html/body tags to root layout for Next.js 15
  apps/web/app/layout.tsx
  apps/web/modules/shared/components/Document.tsx
Due: biome-check, biome-ci-check

feat(speaker-separation): implement frontend UI for speaker separation tool (PRA-107) (#154)
  apps/api-server/src/workers/index.ts
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/layout.tsx
  apps/web/modules/shared/components/Document.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  apps/web/modules/tools/components/index.ts
  packages/api/modules/speaker-separation/lib/__fixtures__/.gitignore
  packages/api/modules/speaker-separation/lib/__fixtures__/README.md
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  packages/api/modules/speaker-separation/types.test.ts
  packages/api/modules/speaker-separation/types.ts
Due: biome-check, biome-ci-check, markdownlint

feat(files): add file management with MIME type tracking and tags (PRA-172)
  apps/web/app/(saas)/app/(account)/files/page.tsx
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/files/page.tsx
  apps/web/modules/saas/files/components/DeleteFileDialog.tsx
  apps/web/modules/saas/files/components/FilesTable.tsx
  apps/web/modules/saas/files/components/TagInput.tsx
  apps/web/modules/saas/shared/components/NavBar.tsx
  packages/api/modules/files/procedures/add-tag.ts
  packages/api/modules/files/procedures/create.ts
  packages/api/modules/files/procedures/delete.ts
  packages/api/modules/files/procedures/get-download-url.ts
  packages/api/modules/files/procedures/list-tags.ts
  packages/api/modules/files/procedures/list.ts
  packages/api/modules/files/procedures/remove-tag.ts
  packages/api/modules/files/router.test.ts
  packages/api/modules/files/router.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/migrations/20260122123054_add_file_management_tables/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
Due: biome-check, biome-ci-check, prisma-sync-check

chore: standardize on Node.js v22 LTS
  .nvmrc
  CLAUDE.md
  package.json
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(files): add file upload functionality with drag-and-drop
  apps/web/modules/saas/files/components/FileUploader.tsx
  apps/web/modules/saas/files/components/FilesTable.tsx
  config/index.ts
  config/types.ts
  packages/api/modules/files/procedures/get-upload-url.ts
  packages/api/modules/files/router.ts
Due: biome-check, biome-ci-check

feat(storage): add files bucket for file management
  supabase/config.toml
  supabase/seed.sql
Due: none

fix(files): fix tag input closing immediately when creating new tag
  apps/web/modules/saas/files/components/TagInput.tsx
Due: biome-check, biome-ci-check

fix(files): fix TagInput click-outside handler for Radix dropdown
  apps/web/modules/saas/files/components/TagInput.tsx
Due: biome-check, biome-ci-check

feat(files): add file management with MIME type tracking and tags (PRA-172) (#158)
  .nvmrc
  CLAUDE.md
  apps/web/app/(saas)/app/(account)/files/page.tsx
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/files/page.tsx
  apps/web/modules/saas/files/components/DeleteFileDialog.tsx
  apps/web/modules/saas/files/components/FileUploader.tsx
  apps/web/modules/saas/files/components/FilesTable.tsx
  apps/web/modules/saas/files/components/TagInput.tsx
  apps/web/modules/saas/shared/components/NavBar.tsx
  config/index.ts
  config/types.ts
  package.json
  packages/api/modules/files/procedures/add-tag.ts
  packages/api/modules/files/procedures/create.ts
  packages/api/modules/files/procedures/delete.ts
  packages/api/modules/files/procedures/get-download-url.ts
  packages/api/modules/files/procedures/get-upload-url.ts
  packages/api/modules/files/procedures/list-tags.ts
  packages/api/modules/files/procedures/list.ts
  packages/api/modules/files/procedures/remove-tag.ts
  packages/api/modules/files/router.test.ts
  packages/api/modules/files/router.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/migrations/20260122123054_add_file_management_tables/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/config.toml
  supabase/migrations/20260122123054_add_file_management_tables.sql
  supabase/seed.sql
Due: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

feat(invoice-processor): add PDF/image file upload with OCR support (PRA-71)
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  config/index.ts
  config/types.ts
  packages/api/modules/invoice-processor/lib/document-extractor.test.ts
  packages/api/modules/invoice-processor/lib/document-extractor.ts
  packages/api/modules/invoice-processor/lib/processor.test.ts
  packages/api/modules/invoice-processor/lib/processor.ts
  packages/api/modules/invoice-processor/types.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

refactor(invoice-processor): use storage-first upload pattern
  .claude/skills/storage/SKILL.md
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  packages/api/modules/invoice-processor/lib/processor.test.ts
  packages/api/modules/invoice-processor/lib/processor.ts
  packages/api/modules/invoice-processor/procedures/create-invoice-upload-url.ts
  packages/api/modules/invoice-processor/router.ts
  packages/api/modules/invoice-processor/types.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
Due: biome-check, biome-ci-check, markdownlint

feat(agent-sdk): add multi-turn conversational skill infrastructure (PRA-173)
  packages/agent-sdk/index.ts
  packages/agent-sdk/package.json
  packages/agent-sdk/src/skill/examples/feedback-collector.test.ts
  packages/agent-sdk/src/skill/examples/feedback-collector.ts
  packages/agent-sdk/src/skill/examples/index.ts
  packages/agent-sdk/src/skill/index.ts
  packages/agent-sdk/src/skill/persistence/index.ts
  packages/agent-sdk/src/skill/persistence/memory.test.ts
  packages/agent-sdk/src/skill/persistence/memory.ts
  packages/agent-sdk/src/skill/persistence/prisma.ts
  packages/agent-sdk/src/skill/session.test.ts
  packages/agent-sdk/src/skill/session.ts
  packages/agent-sdk/src/skill/skill.integration.test.ts
  packages/agent-sdk/src/skill/types.ts
  packages/database/prisma/migrations/20260122140239_add_skill_session_table/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/skill-sessions.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, prisma-sync-check

feat(invoice-processor): add PDF/image file upload with OCR support (PRA-71) (#155)
  .claude/skills/storage/SKILL.md
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/ToolComponents.test.tsx
  config/index.ts
  config/types.ts
  packages/api/modules/invoice-processor/lib/document-extractor.test.ts
  packages/api/modules/invoice-processor/lib/document-extractor.ts
  packages/api/modules/invoice-processor/lib/processor.test.ts
  packages/api/modules/invoice-processor/lib/processor.ts
  packages/api/modules/invoice-processor/procedures/create-invoice-upload-url.ts
  packages/api/modules/invoice-processor/router.ts
  packages/api/modules/invoice-processor/types.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

refactor: rename Skill to AgentSession throughout codebase
  packages/agent-sdk/index.ts
  packages/agent-sdk/src/session/examples/feedback-collector.test.ts
  packages/agent-sdk/src/session/examples/feedback-collector.ts
  packages/agent-sdk/src/session/examples/index.ts
  packages/agent-sdk/src/session/index.ts
  packages/agent-sdk/src/session/persistence/index.ts
  packages/agent-sdk/src/session/persistence/memory.test.ts
  packages/agent-sdk/src/session/persistence/memory.ts
  packages/agent-sdk/src/session/persistence/prisma.ts
  packages/agent-sdk/src/session/session.integration.test.ts
  packages/agent-sdk/src/session/session.test.ts
  packages/agent-sdk/src/session/session.ts
  packages/agent-sdk/src/session/types.ts
  packages/agent-sdk/src/skill/persistence/index.ts
  packages/database/prisma/migrations/20260122160338_rename_skill_session_to_agent_session/migration.sql
  packages/database/prisma/queries/agent-sessions.ts
  packages/database/prisma/queries/index.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
Due: biome-check, biome-ci-check, prisma-sync-check

chore(config): enable only MVP tools (PRA-177)
  apps/web/modules/saas/start/components/DashboardWidgets.test.tsx
  config/index.ts
Due: biome-check, biome-ci-check

chore(config): enable only MVP tools (PRA-177) (#160)
  apps/web/modules/saas/start/components/DashboardWidgets.test.tsx
  config/index.ts
Due: biome-check, biome-ci-check

feat(agent-sdk): add multi-turn conversational skill infrastructure (PRA-173) (#159)
  packages/agent-sdk/index.ts
  packages/agent-sdk/package.json
  packages/agent-sdk/src/session/examples/feedback-collector.test.ts
  packages/agent-sdk/src/session/examples/feedback-collector.ts
  packages/agent-sdk/src/session/examples/index.ts
  packages/agent-sdk/src/session/index.ts
  packages/agent-sdk/src/session/persistence/index.ts
  packages/agent-sdk/src/session/persistence/memory.test.ts
  packages/agent-sdk/src/session/persistence/memory.ts
  packages/agent-sdk/src/session/persistence/prisma.ts
  packages/agent-sdk/src/session/session.integration.test.ts
  packages/agent-sdk/src/session/session.test.ts
  packages/agent-sdk/src/session/session.ts
  packages/agent-sdk/src/session/types.ts
  packages/database/prisma/migrations/20260122140239_add_skill_session_table/migration.sql
  packages/database/prisma/migrations/20260122160338_rename_skill_session_to_agent_session/migration.sql
  packages/database/prisma/queries/agent-sessions.ts
  packages/database/prisma/queries/index.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  pnpm-lock.yaml
  supabase/migrations/20260122140239_add_skill_session_table.sql
  supabase/migrations/20260122160338_rename_skill_session_to_agent_session.sql
Due: biome-check, biome-ci-check, lockfile-check, prisma-sync-check

feat(news-analyzer): add NewsAnalysis entity for durable results (PRA-176)
  apps/api-server/src/workers/index.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  packages/database/prisma/migrations/20260122220000_add_news_analysis_entity/migration.sql
  packages/database/prisma/queries/tool-jobs.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260122220000_add_news_analysis_entity.sql
Due: biome-check, biome-ci-check, prisma-sync-check

chore(skills): add frontmatter to iconography skill
  .claude/skills/iconography/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): add frontmatter to linear-workflow skill
  .claude/skills/linear-workflow/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): add frontmatter to stripe-webhooks skill
  .claude/skills/stripe-webhooks/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): add frontmatter to storage skill
  .claude/skills/storage/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): fix frontmatter format in async-jobs skill
  .claude/skills/async-jobs/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): add allowed-tools to github-cli skill
  .claude/skills/github-cli/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): fix name mismatch in prisma-migrate skill
  .claude/skills/prisma-migrate/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore: remove diarization tool (PRA-178)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/modules/saas/credits/hooks/use-usage-stats.test.tsx
  apps/web/modules/saas/credits/lib/format-tool-name.test.ts
  apps/web/modules/saas/tools/lib/tool-flags.test.ts
  apps/web/modules/tools/components/SpeakerDiarizationTool.tsx
  config/index.test.ts
  config/index.ts
  packages/api/lib/credit-middleware.test.ts
  packages/api/lib/credit-middleware.ts
  packages/api/modules/diarization/index.ts
  packages/api/modules/diarization/lib/processor.test.ts
  packages/api/modules/diarization/lib/processor.ts
  packages/api/modules/diarization/lib/register.ts
  packages/api/modules/diarization/types.test.ts
  packages/api/modules/diarization/types.ts
  packages/api/modules/jobs/lib/register-all-processors.ts
Due: biome-check, biome-ci-check

fix(database): rename agent_session primary key constraint
  packages/database/prisma/migrations/20260122210000_rename_agent_session_pkey_constraint/migration.sql
  supabase/migrations/20260122210000_rename_agent_session_pkey_constraint.sql
Due: prisma-sync-check

fix(database): rename agent_session primary key constraint (#163)
  packages/database/prisma/migrations/20260122210000_rename_agent_session_pkey_constraint/migration.sql
  supabase/migrations/20260122210000_rename_agent_session_pkey_constraint.sql
Due: prisma-sync-check

chore: remove diarization tool (PRA-178) (#162)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/modules/saas/credits/hooks/use-usage-stats.test.tsx
  apps/web/modules/saas/credits/lib/format-tool-name.test.ts
  apps/web/modules/saas/tools/lib/tool-flags.test.ts
  apps/web/modules/tools/components/SpeakerDiarizationTool.tsx
  config/index.test.ts
  config/index.ts
  packages/api/lib/credit-middleware.test.ts
  packages/api/lib/credit-middleware.ts
  packages/api/modules/diarization/index.ts
  packages/api/modules/diarization/lib/processor.test.ts
  packages/api/modules/diarization/lib/processor.ts
  packages/api/modules/diarization/lib/register.ts
  packages/api/modules/diarization/types.test.ts
  packages/api/modules/diarization/types.ts
  packages/api/modules/jobs/lib/register-all-processors.ts
Due: biome-check, biome-ci-check

chore(skills): review and improve skill frontmatter compliance (#161)
  .claude/skills/async-jobs/SKILL.md
  .claude/skills/github-cli/SKILL.md
  .claude/skills/iconography/SKILL.md
  .claude/skills/linear-workflow/SKILL.md
  .claude/skills/prisma-migrate/SKILL.md
  .claude/skills/storage/SKILL.md
  .claude/skills/stripe-webhooks/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore: reduce Sentry replay sampling and add Node version check to worktree setup
  apps/web/sentry.client.config.ts
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check

chore: reduce Sentry replay sampling and add Node version check to worktree setup (#164)
  apps/web/sentry.client.config.ts
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check

feat(share): add public sharing support for news analyses (PRA-169)
  apps/web/app/(share)/layout.tsx
  apps/web/app/(share)/share/news-analyzer/[analysisId]/page.tsx
  apps/web/app/(share)/share/news-analyzer/[analysisId]/shared-news-analysis.tsx
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  packages/api/modules/share/procedures/get-news-analysis.ts
  packages/api/modules/share/router.test.ts
  packages/api/modules/share/router.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/migrations/20260122220000_add_news_analysis_entity/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/news-analysis.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260122220000_add_news_analysis_entity.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): add NewsAnalysis entity for durable analysis storage
  apps/api-server/src/workers/index.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  packages/database/prisma/migrations/20260122220000_add_news_analysis_entity/migration.sql
  packages/database/prisma/queries/tool-jobs.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260122220000_add_news_analysis_entity.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): add NewsAnalysis entity for durable analysis storage (#166)
  apps/api-server/src/workers/index.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  packages/database/prisma/migrations/20260122220000_add_news_analysis_entity/migration.sql
  packages/database/prisma/queries/tool-jobs.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260122220000_add_news_analysis_entity.sql
Due: biome-check, biome-ci-check, prisma-sync-check
