Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

chore(skills): streamline git-worktrees skill
  .claude/skills/git-worktrees/environment-setup.md
  .claude/skills/git-worktrees/troubleshooting.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): add "When to Use" section to debugging skill
  .claude/skills/debugging/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore(skills): streamline development-related skills (#199)
  .claude/skills/application-environments/SKILL.md
  .claude/skills/cicd/SKILL.md
  .claude/skills/cicd/troubleshooting.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/git-worktrees/environment-setup.md
  .claude/skills/git-worktrees/troubleshooting.md
  .claude/skills/linear-workflow/SKILL.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

fix(api-server): add /api/health endpoint for proxy health checks (#200)
  apps/api-server/src/lib/server.test.ts
  apps/api-server/src/lib/server.ts
Due: biome-check, biome-ci-check

chore(skills): enforce Supabase-only database policy and refactor git-worktrees
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/environment-setup.md
  .claude/skills/git-worktrees/troubleshooting.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

Update prompt in improve-skills.yml workflow
  .github/workflows/improve-skills.yml
Due: none

chore(skills): enforce Supabase-only database policy and refactor git-worktrees (#201)
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/environment-setup.md
  .claude/skills/git-worktrees/troubleshooting.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

fix(worktree-setup): enforce Supabase Local database and verify password hash
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

fix(workflow): grant Claude Code tool permissions in improve-skills workflow
  .github/workflows/improve-skills.yml
Due: none

fix(workflow): grant Claude Code tool permissions in improve-skills workflow (#203)
  .github/workflows/improve-skills.yml
Due: none

refactor(skills): apply progressive disclosure to git-worktrees skill
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/troubleshooting.md
Due: biome-check, biome-ci-check, markdownlint

feat(speaker-separation): integrate audio files with Files page
  apps/web/app/(saas)/app/(account)/files/page.tsx
  apps/web/app/api/tools/speaker-separation/audio/[jobId]/route.ts
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/speaker-separation/lib/audio-storage.test.ts
  packages/api/modules/speaker-separation/lib/audio-storage.ts
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
Due: biome-check, biome-ci-check

chore(worktree): add Supabase local storage configuration to setup script
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/environment-setup.md
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

feat(speaker-separation): redesign detail page with improved layout
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
Due: biome-check, biome-ci-check

feat(speaker-separation): integrate with Files page and redesign detail view (#206)
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/environment-setup.md
  apps/web/app/(saas)/app/(account)/files/page.tsx
  apps/web/app/api/tools/speaker-separation/audio/[jobId]/route.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/speaker-separation/lib/audio-storage.test.ts
  packages/api/modules/speaker-separation/lib/audio-storage.ts
  packages/api/modules/speaker-separation/lib/processor.integration.test.ts
  packages/api/modules/speaker-separation/lib/processor.test.ts
  packages/api/modules/speaker-separation/lib/processor.ts
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, markdownlint

refactor(speaker-separation): consolidate types and extract shared utilities
  apps/web/components/tools/speaker-separation/lib/history-utils.ts
  apps/web/components/tools/speaker-separation/lib/types.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  apps/web/modules/ui/lib/index.ts
  packages/utils/index.ts
  packages/utils/lib/format-duration.test.ts
  packages/utils/lib/format-duration.ts
Due: biome-check, biome-ci-check

fix: add post-merge hook to regenerate Prisma client after schema changes
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: biome-check, biome-ci-check, markdownlint

refactor(speaker-separation): consolidate types and extract shared utilities (#207)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  apps/web/components/tools/speaker-separation/lib/history-utils.ts
  apps/web/components/tools/speaker-separation/lib/types.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  apps/web/modules/ui/lib/index.ts
  packages/utils/index.ts
  packages/utils/lib/format-duration.test.ts
  packages/utils/lib/format-duration.ts
Due: biome-check, biome-ci-check, markdownlint

feat(ui): add shared DataTable component with TanStack Table integration
  apps/web/modules/ui/components/data-table/data-table-column-header.tsx
  apps/web/modules/ui/components/data-table/data-table-pagination.tsx
  apps/web/modules/ui/components/data-table/data-table-row-selection.tsx
  apps/web/modules/ui/components/data-table/data-table-view-options.tsx
  apps/web/modules/ui/components/data-table/data-table.stories.tsx
  apps/web/modules/ui/components/data-table/data-table.test.tsx
  apps/web/modules/ui/components/data-table/data-table.tsx
  apps/web/modules/ui/components/data-table/index.ts
  apps/web/modules/ui/components/data-table/use-data-table-query.ts
  apps/web/modules/ui/components/data-table/use-data-table.test.tsx
  apps/web/modules/ui/components/data-table/use-data-table.ts
Due: biome-check, biome-ci-check

docs(skills): clarify application-environments skill must start dev servers
  .claude/skills/application-environments/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

refactor(speaker-separation): migrate history to shared DataTable pattern
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
Due: biome-check, biome-ci-check

refactor(news-analyzer): migrate history to shared DataTable pattern
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
Due: biome-check, biome-ci-check

refactor: migrate admin and organization tables to shared DataTable
  apps/web/modules/saas/admin/component/audit-logs/AuditLogList.tsx
  apps/web/modules/saas/admin/component/organizations/OrganizationList.tsx
  apps/web/modules/saas/admin/component/users/UserList.tsx
  apps/web/modules/saas/organizations/components/OrganizationInvitationsList.tsx
  apps/web/modules/saas/organizations/components/OrganizationMembersList.tsx
  apps/web/modules/ui/components/data-table/data-table.tsx
Due: biome-check, biome-ci-check

feat(ui): add shared DataTable component with TanStack Table (#208)
  .claude/skills/application-environments/SKILL.md
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/modules/saas/admin/component/audit-logs/AuditLogList.tsx
  apps/web/modules/saas/admin/component/organizations/OrganizationList.tsx
  apps/web/modules/saas/admin/component/users/UserList.tsx
  apps/web/modules/saas/organizations/components/OrganizationInvitationsList.tsx
  apps/web/modules/saas/organizations/components/OrganizationMembersList.tsx
  apps/web/modules/ui/components/data-table/data-table-column-header.tsx
  apps/web/modules/ui/components/data-table/data-table-pagination.tsx
  apps/web/modules/ui/components/data-table/data-table-row-selection.tsx
  apps/web/modules/ui/components/data-table/data-table-view-options.tsx
  apps/web/modules/ui/components/data-table/data-table.stories.tsx
  apps/web/modules/ui/components/data-table/data-table.test.tsx
  apps/web/modules/ui/components/data-table/data-table.tsx
  apps/web/modules/ui/components/data-table/index.ts
  apps/web/modules/ui/components/data-table/use-data-table-query.ts
  apps/web/modules/ui/components/data-table/use-data-table.test.tsx
  apps/web/modules/ui/components/data-table/use-data-table.ts
Due: biome-check, biome-ci-check, markdownlint

feat: US-001 - Research Inngest integration
  docs/research/inngest-evaluation.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-002 - Research Vercel Cron + KV integration
  docs/research/vercel-cron-kv-evaluation.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-003 - Write job platform recommendation
  docs/research/job-platform-recommendation.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-004 - Audit WebSocket usage in api-server
  docs/research/websocket-audit.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-005 - Audit pg-boss job processors
  docs/research/pgboss-jobs-audit.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-006 - Install Inngest SDK and configure
  apps/web/.env.local.example
  apps/web/app/api/inngest/route.ts
  apps/web/inngest/client.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat: US-007 - Migrate news-analyzer job to Inngest
  apps/web/app/api/inngest/route.ts
  apps/web/inngest/functions/news-analyzer.ts
Due: biome-check, biome-ci-check

feat: US-008 - Migrate speaker-separation job to Inngest
  apps/web/app/api/inngest/route.ts
  apps/web/inngest/functions/speaker-separation.ts
  apps/web/package.json
  packages/api/modules/speaker-separation/index.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat: US-009 - Migrate remaining jobs to Inngest
  apps/web/app/api/inngest/route.ts
  apps/web/inngest/functions/contract-analyzer.ts
  apps/web/inngest/functions/expense-categorizer.ts
  apps/web/inngest/functions/feedback-analyzer.ts
  apps/web/inngest/functions/gdpr-exporter.ts
  apps/web/inngest/functions/invoice-processor.ts
  apps/web/inngest/functions/meeting-summarizer.ts
Due: biome-check, biome-ci-check

feat: US-010 - Set up Supabase Realtime client
  apps/web/modules/realtime/client.ts
  apps/web/modules/realtime/index.ts
  apps/web/modules/realtime/types.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat: US-011 - Replace WebSocket with Supabase Realtime
  apps/web/modules/realtime/echo.ts
  apps/web/modules/realtime/hooks.ts
  apps/web/modules/realtime/index.ts
  apps/web/tsconfig.json
Due: biome-check, biome-ci-check

feat: US-012 - Create migration to drop pg-boss tables
  packages/api/modules/jobs/lib/job-runner.test.ts
  packages/api/modules/jobs/lib/job-runner.ts
  packages/api/modules/jobs/lib/queue.test.ts
  packages/api/modules/jobs/lib/queue.ts
  packages/api/modules/jobs/procedures/create-job.integration.test.ts
  packages/api/modules/jobs/tests/job-lifecycle.integration.test.ts
  packages/api/modules/jobs/tests/test-processors.ts
  packages/database/prisma/migrations/20260130000940_drop_pgboss_schema/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  packages/database/tests/pgboss-schema.integration.test.ts
  supabase/migrations/20260130000940_drop_pgboss_schema.sql
Due: biome-check, biome-ci-check, prisma-sync-check

feat: US-013 - Remove pg-boss package dependency
  apps/api-server/package.json
  apps/api-server/src/config/env.ts
  apps/api-server/src/index.ts
  apps/api-server/src/lib/pg-boss.test.ts
  apps/api-server/src/lib/pg-boss.ts
  apps/api-server/src/workers/index.ts
  apps/api-server/src/workers/types.ts
  apps/api-server/src/workers/workers.test.ts
  apps/web/app/api/cron/job-maintenance/route.ts
  apps/web/app/api/cron/process-jobs/route.ts
  apps/web/app/api/inngest/route.ts
  packages/api/modules/jobs/lib/job-config.test.ts
  packages/api/modules/jobs/lib/job-config.ts
  packages/api/modules/jobs/lib/job-runner.test.ts
  packages/api/modules/jobs/lib/job-runner.ts
  packages/api/modules/jobs/lib/processor-registry.test.ts
  packages/api/modules/jobs/lib/queue.test.ts
  packages/api/modules/jobs/lib/queue.ts
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/package.json
  packages/database/package.json
  packages/database/scripts/init-pgboss-schema.mjs
  packages/database/scripts/verify-pgboss-schema.mjs
  packages/database/tests/postgres-test-harness.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat: US-014 - Remove Render from CI/CD workflows
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
Due: none

feat: US-015 - Delete Render configuration files
  .claude/skills/cicd/SKILL.md
  .claude/skills/cicd/troubleshooting.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/debugging/platform-render.md
  .claude/skills/render/SKILL.md
  apps/web/.env.local.example
  packages/render/README.md
  packages/render/biome.json
  packages/render/client.integration.test.ts
  packages/render/client.test.ts
  packages/render/client.ts
  packages/render/index.ts
  packages/render/package.json
  packages/render/tsconfig.json
  packages/render/types.ts
  packages/render/vitest.config.ts
  tooling/scripts/package.json
  tooling/scripts/src/preview-sync/github-checks.mjs
  tooling/scripts/src/preview-sync/github-checks.test.ts
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/render/index.mjs
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat: US-016 - Delete apps/api-server directory
  .claude/commands/dev:start-apps.md
  .claude/commands/dev:stop-apps.md
  .claude/skills/api-proxy/SKILL.md
  .claude/skills/architecture/SKILL.md
  .claude/skills/async-jobs/SKILL.md
  .claude/skills/async-jobs/creating-processors.md
  .claude/skills/async-jobs/troubleshooting.md
  .claude/skills/git-worktrees/environment-setup.md
  CLAUDE.md
  apps/api-server/.env.example
  apps/api-server/.gitignore
  apps/api-server/README.md
  apps/api-server/package.json
  apps/api-server/scripts/ensure-node-version.sh
  apps/api-server/scripts/smoke-test.cjs
  apps/api-server/scripts/smoke-test.mjs
  apps/api-server/src/config/env.test.ts
  apps/api-server/src/config/env.ts
  apps/api-server/src/index.ts
  apps/api-server/src/lib/database.test.ts
  apps/api-server/src/lib/logger.ts
  apps/api-server/src/lib/orpc-integration.test.ts
  apps/api-server/src/lib/server.test.ts
  apps/api-server/src/lib/server.ts
  apps/api-server/src/lib/websocket.test.ts
  apps/api-server/tsconfig.json
  apps/api-server/vitest.config.ts
  apps/web/app/api/proxy/[...path]/route.ts
  apps/web/app/api/proxy/lib.test.ts
  apps/web/app/api/proxy/lib.ts
  packages/api/lib/cors.ts
  tooling/scripts/src/worktree-port.sh
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint
