Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

chore(worktree): add automatic database seeding to worktree setup
  package.json
  tooling/scripts/src/worktree-setup.sh
Due: biome-check, biome-ci-check, lockfile-check

feat(commands): add /dev:start-apps and /dev:stop-apps commands
  .claude/commands/dev:start-apps.md
  .claude/commands/dev:stop-apps.md
Due: biome-check, biome-ci-check, markdownlint

feat(commands): add /dev:start-apps and /dev:stop-apps commands (#168)
  .claude/commands/dev:start-apps.md
  .claude/commands/dev:stop-apps.md
Due: biome-check, biome-ci-check, markdownlint

feat(news-analyzer): create NewsAnalysis records for sharing support
  packages/api/modules/news-analyzer/lib/processor.test.ts
  packages/api/modules/news-analyzer/lib/processor.ts
  packages/database/prisma/queries/news-analysis.ts
Due: biome-check, biome-ci-check

feat(ui): enhance landing page and app backgrounds with animations
  apps/web/app/(marketing)/layout.tsx
  apps/web/app/(saas)/app/(account)/chatbot/page.tsx
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/chatbot/page.tsx
  apps/web/modules/marketing/home/components/FinalCta.tsx
  apps/web/modules/marketing/home/components/Hero.tsx
  apps/web/modules/marketing/shared/components/AnimatedBackground.tsx
  apps/web/modules/saas/shared/components/AppWrapper.tsx
  apps/web/modules/saas/shared/components/CommandPalette.test.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/saas/shared/components/NavBar.tsx
  apps/web/modules/saas/start/components/GettingStartedChecklist.tsx
  apps/web/tests/landing-page.spec.ts
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check

feat(supabase): add CLI verification and package scripts foundation
  package.json
  tooling/scripts/src/supabase/supabase-local.sh
Due: biome-check, biome-ci-check, lockfile-check

docs(skills): add application-environments skill
  .claude/skills/application-environments/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(news-analyzer): use newsAnalysis object instead of newsAnalysisId
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
Due: biome-check, biome-ci-check

docs(skills): improve application-environments with validated setup
  .claude/skills/application-environments/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

docs(skills): simplify to preview-first development model
  .claude/skills/application-environments/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(preview-sync): correct Render service name prefix
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

feat(supabase): add CLI verification and package scripts foundation (#170)
  .claude/skills/application-environments/SKILL.md
  package.json
  tooling/scripts/src/supabase/supabase-local.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

chore(ci): align preview label to render-preview
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
Due: none

fix(preview-sync): detect Vercel deployments by branch name
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

debug: add Vercel deployment metadata logging
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

fix(preview-deploy): include PR metadata in Vercel deployments
  .github/workflows/preview-deploy.yml
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

chore(ci): align preview label to render-preview (#171)
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

feat(analytics): add tool usage tracking to InvoiceProcessor and SpeakerSeparation
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  docs/posthog-tool-usage-dashboard.md
Due: biome-check, biome-ci-check, markdownlint

feat(analytics): add tool usage tracking to InvoiceProcessor and SpeakerSeparation (#172)
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  docs/posthog-tool-usage-dashboard.md
Due: biome-check, biome-ci-check, markdownlint

feat(start): add dashboard widgets for enhanced Start page
  apps/web/modules/saas/start/components/NotificationsWidget.tsx
  apps/web/modules/saas/start/components/QuickActions.tsx
  apps/web/modules/saas/start/components/RecentChatsWidget.tsx
  apps/web/modules/saas/start/components/RecommendedToolWidget.tsx
  apps/web/modules/saas/start/components/UsageTrendChart.tsx
Due: biome-check, biome-ci-check

chore: add developer tooling for Node.js version and local setup
  .claude/hooks/check-node-version.py
  .claude/skills/landing-page-design/SKILL.md
  .claude/skills/landing-page-design/examples.md
  packages/database/scripts/seed-local.sh
  run
Due: biome-check, biome-ci-check, markdownlint

feat(start): add dashboard widgets for enhanced Start page (#173)
  apps/web/modules/saas/start/components/NotificationsWidget.tsx
  apps/web/modules/saas/start/components/QuickActions.tsx
  apps/web/modules/saas/start/components/RecentChatsWidget.tsx
  apps/web/modules/saas/start/components/RecommendedToolWidget.tsx
  apps/web/modules/saas/start/components/UsageTrendChart.tsx
Due: biome-check, biome-ci-check

chore: add developer tooling for Node.js version and local setup (#174)
  .claude/hooks/check-node-version.py
  .claude/skills/landing-page-design/SKILL.md
  .claude/skills/landing-page-design/examples.md
  packages/database/scripts/seed-local.sh
  run
Due: biome-check, biome-ci-check, markdownlint

chore(analytics): remove ad-hoc PostHog tool usage tracking
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  apps/web/modules/tools/analytics/index.ts
  apps/web/modules/tools/analytics/types.ts
  apps/web/modules/tools/analytics/use-conversion-tracking.test.ts
  apps/web/modules/tools/analytics/use-conversion-tracking.ts
  apps/web/modules/tools/analytics/use-tool-analytics.test.ts
  apps/web/modules/tools/analytics/use-tool-analytics.ts
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  docs/posthog-tool-usage-dashboard.md
  packages/api/lib/analytics/index.ts
  packages/api/lib/analytics/server-analytics.test.ts
  packages/api/lib/analytics/server-analytics.ts
  packages/api/modules/jobs/procedures/create-job.ts
Due: biome-check, biome-ci-check, markdownlint

chore(analytics): remove ad-hoc PostHog tool usage tracking (#175)
  apps/web/components/tools/news-analyzer/news-analyzer.tsx
  apps/web/modules/tools/analytics/index.ts
  apps/web/modules/tools/analytics/types.ts
  apps/web/modules/tools/analytics/use-conversion-tracking.test.ts
  apps/web/modules/tools/analytics/use-conversion-tracking.ts
  apps/web/modules/tools/analytics/use-tool-analytics.test.ts
  apps/web/modules/tools/analytics/use-tool-analytics.ts
  apps/web/modules/tools/components/InvoiceProcessorTool.tsx
  apps/web/modules/tools/components/SpeakerSeparationTool.tsx
  docs/posthog-tool-usage-dashboard.md
  packages/api/lib/analytics/index.ts
  packages/api/lib/analytics/server-analytics.test.ts
  packages/api/lib/analytics/server-analytics.ts
  packages/api/modules/jobs/procedures/create-job.ts
Due: biome-check, biome-ci-check, markdownlint

fix(analytics): fix stale closure in feature flag timeout effect
  apps/web/modules/analytics/provider/posthog/feature-flags.tsx
Due: biome-check, biome-ci-check

feat(analytics): add PostHog feature flag infrastructure (PRA-180)
  apps/web/modules/analytics/provider/posthog/feature-flags.test.tsx
  apps/web/modules/analytics/provider/posthog/feature-flags.tsx
  apps/web/modules/analytics/provider/posthog/index.tsx
  packages/api/lib/feature-flags/bootstrap.test.ts
  packages/api/lib/feature-flags/bootstrap.ts
  packages/api/lib/feature-flags/index.ts
  packages/api/lib/feature-flags/server-feature-flags.test.ts
  packages/api/lib/feature-flags/server-feature-flags.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

docs(skills): add feature-flags skill for PostHog feature flag guidance
  .claude/skills/feature-flags/SKILL.md
  CLAUDE.md
Due: biome-check, biome-ci-check, markdownlint

feat(analytics): add PostHog feature flag infrastructure (PRA-180) (#169)
  .claude/skills/feature-flags/SKILL.md
  CLAUDE.md
  apps/web/modules/analytics/provider/posthog/feature-flags.test.tsx
  apps/web/modules/analytics/provider/posthog/feature-flags.tsx
  apps/web/modules/analytics/provider/posthog/index.tsx
  packages/api/lib/feature-flags/bootstrap.test.ts
  packages/api/lib/feature-flags/bootstrap.ts
  packages/api/lib/feature-flags/index.ts
  packages/api/lib/feature-flags/server-feature-flags.test.ts
  packages/api/lib/feature-flags/server-feature-flags.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(cli): add developer CLI with feature flag status command
  package.json
  pnpm-lock.yaml
  tooling/cli/package.json
  tooling/cli/src/commands/features.ts
  tooling/cli/src/index.ts
  tooling/cli/tsconfig.json
Due: biome-check, biome-ci-check, lockfile-check

feat(database): add Tool table for proper FK relationships
  packages/database/prisma/migrations/20260126124037_add_tool_table/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/tools.test.ts
  packages/database/prisma/queries/tools.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  packages/database/tests/tool.integration.test.ts
Due: biome-check, biome-ci-check, prisma-sync-check

feat(database): add Tool table for proper FK relationships (#189)
  packages/database/prisma/migrations/20260126124037_add_tool_table/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/tools.test.ts
  packages/database/prisma/queries/tools.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  packages/database/tests/tool.integration.test.ts
  supabase/migrations/20260126124037_add_tool_table.sql
Due: biome-check, biome-ci-check, prisma-sync-check

fix(agent-sdk): import Prisma types from @repo/database
  packages/agent-sdk/src/session/persistence/prisma.ts
Due: biome-check, biome-ci-check

fix(orpc): evaluate URL dynamically at request time
  apps/web/modules/shared/lib/orpc-client.ts
Due: biome-check, biome-ci-check

fix(cli): use PostHog SDK getAllFlags instead of /decide endpoint
  tooling/cli/src/commands/features.ts
Due: biome-check, biome-ci-check
