Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

feat(auth): implement Better Auth databaseHooks for activeOrganizationId (PRA-149)
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
  packages/auth/auth.ts
  packages/database/prisma/queries/organizations.test.ts
  packages/database/prisma/queries/organizations.ts
Due: biome-check, biome-ci-check

fix(preview-sync): add API_SERVER_URL for proxy route
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

refactor(storage): move auto-detection to index.ts, keep providers independent
  packages/storage/index.ts
  packages/storage/provider/index.ts
Due: biome-check, biome-ci-check

feat(storage): add Supabase storage provider with native CORS support (PRA-128)
  packages/storage/index.ts
  packages/storage/package.json
  packages/storage/provider/index.ts
  packages/storage/provider/supabase/index.test.ts
  packages/storage/provider/supabase/index.ts
  packages/storage/types.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

style: format Supabase storage provider files
  packages/storage/provider/supabase/index.test.ts
  packages/storage/provider/supabase/index.ts
Due: biome-check, biome-ci-check

fix(storage): prefer Supabase provider when available, use auto-detection in API
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
  packages/storage/provider/supabase/index.test.ts
  packages/storage/provider/supabase/index.ts
Due: biome-check, biome-ci-check

style: fix formatting in test files
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/router.test.ts
Due: biome-check, biome-ci-check

fix(storage): use Supabase storage directly in upload procedures
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
Due: biome-check, biome-ci-check

fix: resolve Set iteration TypeScript error in proxy lib
  apps/web/app/api/proxy/lib.test.ts
  apps/web/app/api/proxy/lib.ts
Due: biome-check, biome-ci-check

docs: add SUPABASE_SERVICE_ROLE_KEY to env example
  apps/web/.env.local.example
Due: none

fix(api-proxy): strip content-encoding header to prevent decoding errors
  apps/web/app/api/proxy/lib.test.ts
  apps/web/app/api/proxy/lib.ts
Due: biome-check, biome-ci-check

style: fix lint errors for CI parity
  apps/web/app/api/proxy/lib.test.ts
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

feat(auth): implement Better Auth databaseHooks for activeOrganizationId (PRA-149) (#122)
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
  packages/auth/auth.ts
  packages/database/prisma/queries/organizations.test.ts
  packages/database/prisma/queries/organizations.ts
Due: biome-check, biome-ci-check

feat(preview-sync): sync Supabase storage credentials to Render
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/supabase/api-client.mjs
Due: biome-check, biome-ci-check

chore(supabase): add avatars storage bucket to seed.sql
  supabase/seed.sql
Due: none

docs(cicd): document storage bucket requirements for preview environments
  .claude/skills/cicd/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(preview-sync): sync Supabase storage credentials to Vercel
  tooling/scripts/src/preview-sync/index.mjs
Due: biome-check, biome-ci-check

fix(storage): resolve avatar upload path mismatch and enable upsert
  apps/web/app/image-proxy/[...path]/route.ts
  apps/web/modules/saas/settings/components/UserAvatarUpload.tsx
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
  packages/storage/provider/supabase/index.test.ts
  packages/storage/provider/supabase/index.ts
Due: biome-check, biome-ci-check

fix(storage): add x-upsert header and proactive file deletion
  apps/web/app/image-proxy/[...path]/route.ts
  apps/web/modules/saas/settings/components/UserAvatarUpload.tsx
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
Due: biome-check, biome-ci-check

test(e2e): add Playwright tests for avatar upload functionality
  apps/web/playwright.config.ts
  apps/web/tests/avatar-upload-external.spec.ts
  apps/web/tests/avatar-upload.spec.ts
  apps/web/tests/playwright.external.config.ts
Due: biome-check, biome-ci-check

fix(avatar): refresh server components after avatar upload
  apps/web/modules/saas/settings/components/UserAvatarUpload.tsx
Due: biome-check, biome-ci-check

fix(dev): resolve port conflict between web and api-server in worktrees
  .claude/skills/git-worktrees/SKILL.md
  apps/web/package.json
  package.json
  tooling/scripts/src/worktree-port.sh
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(credits): add credit pack purchase UI (PRA-123)
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/settings/billing/page.tsx
  apps/web/modules/saas/credits/components/CreditPackCard.test.tsx
  apps/web/modules/saas/credits/components/CreditPackCard.tsx
  apps/web/modules/saas/credits/components/CreditPacksSection.tsx
  apps/web/modules/saas/credits/components/LowCreditsWarning.tsx
  apps/web/modules/saas/credits/components/TransactionHistory.tsx
  apps/web/modules/saas/credits/hooks/use-credit-pack-purchase.test.tsx
  apps/web/modules/saas/credits/hooks/use-credit-pack-purchase.ts
  apps/web/modules/saas/credits/lib/get-transaction-source.test.ts
  apps/web/modules/shared/components/Spinner.tsx
  apps/web/tests/billing.spec.ts
Due: biome-check, biome-ci-check

fix(credits): ensure session sync before credit pack purchase
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/layout.tsx
  apps/web/modules/saas/auth/lib/server.ts
  apps/web/modules/saas/credits/components/CreditPacksSection.tsx
  apps/web/modules/saas/organizations/components/ActiveOrganizationProvider.tsx
Due: biome-check, biome-ci-check

chore(stripe): update validate script to use credit pack price IDs
  tooling/scripts/src/stripe/validate-webhooks.mjs
Due: biome-check, biome-ci-check

fix(auth): sync session activeOrganizationId on organization page load
  apps/web/app/(saas)/app/(organizations)/[organizationSlug]/layout.tsx
  apps/web/modules/saas/auth/lib/server.ts
Due: biome-check, biome-ci-check

docs(skills): add Vercel deployment protection bypass for E2E testing
  .claude/skills/cicd/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

docs: add Mermaid architecture diagrams
  docs/architecture-diagrams.md
Due: biome-check, biome-ci-check, markdownlint

fix(e2e): skip external test gracefully when BASE_URL not set
  apps/web/tests/avatar-upload-external.spec.ts
Due: biome-check, biome-ci-check

fix(logo): refresh server components after organization logo upload
  apps/web/modules/saas/organizations/components/OrganizationLogoForm.tsx
Due: biome-check, biome-ci-check

fix(logo): align organization logo upload with user avatar pattern
  apps/web/modules/saas/organizations/components/OrganizationLogoForm.tsx
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
Due: biome-check, biome-ci-check

feat(storage): add Supabase storage provider with native CORS support (PRA-128) (#103)
  .claude/skills/cicd/SKILL.md
  apps/web/.env.local.example
  apps/web/app/api/proxy/lib.test.ts
  apps/web/app/api/proxy/lib.ts
  apps/web/app/image-proxy/[...path]/route.ts
  apps/web/modules/saas/organizations/components/OrganizationLogoForm.tsx
  apps/web/modules/saas/settings/components/UserAvatarUpload.tsx
  apps/web/playwright.config.ts
  apps/web/tests/avatar-upload-external.spec.ts
  apps/web/tests/avatar-upload.spec.ts
  apps/web/tests/playwright.external.config.ts
  packages/api/modules/organizations/procedures/create-logo-upload-url.ts
  packages/api/modules/organizations/router.test.ts
  packages/api/modules/users/procedures/create-avatar-upload-url.ts
  packages/api/modules/users/router.test.ts
  packages/storage/index.ts
  packages/storage/package.json
  packages/storage/provider/index.ts
  packages/storage/provider/supabase/index.test.ts
  packages/storage/provider/supabase/index.ts
  packages/storage/types.ts
  pnpm-lock.yaml
  supabase/seed.sql
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/supabase/api-client.mjs
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

docs: add Mermaid architecture diagrams (#123)
  docs/architecture-diagrams.md
Due: biome-check, biome-ci-check, markdownlint

feat(tools): add feature flagging to control tool visibility (PRA-152)
  apps/web/.env.local.example
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/app/(saas)/app/tools/page.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/saas/start/components/RecentlyUsedTools.tsx
  apps/web/modules/saas/tools/components/ToolCard.tsx
  apps/web/modules/saas/tools/hooks/use-tools.ts
  apps/web/modules/saas/tools/lib/tool-flags.test.ts
  apps/web/modules/saas/tools/lib/tool-flags.ts
Due: biome-check, biome-ci-check

feat(ui): change app font to Space Grotesk for modern geometric style
  apps/web/modules/shared/components/Document.tsx
  tooling/tailwind/theme.css
Due: biome-check, biome-ci-check

feat(ui): change font to Montserrat and add typography skill
  .claude/skills/typography/SKILL.md
  apps/web/modules/shared/components/Document.tsx
Due: biome-check, biome-ci-check, markdownlint
