Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

feat: US-017 - Remove Fastify dependencies
  pnpm-lock.yaml
Due: none

feat: US-018 - Update CLAUDE.md for new architecture
  .claude/skills/architecture/SKILL.md
  CLAUDE.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-019 - Update architecture skill documentation
  .claude/skills/architecture/SKILL.md
  .claude/skills/architecture/deployment.md
  .claude/skills/architecture/examples.md
Due: biome-check, biome-ci-check, markdownlint

feat: US-020 - Update .env.local.example with missing variables
  apps/web/.env.local.example
Due: none

feat: US-021 - Run full test suite and verify
  tasks/prd.json
  tasks/progress.txt
Due: biome-check, biome-ci-check

feat: US-022 - Update skills for new Vercel+Inngest+Supabase architecture
  .claude/skills/README.md
  .claude/skills/application-environments/SKILL.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/debugging/platform-vercel.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/troubleshooting.md
  .claude/skills/prisma-migrate/SKILL.md
  .claude/skills/prisma-migrate/pgboss-reference.md
  .claude/skills/reflect-for-skill-updates/SKILL.md
  .claude/skills/storage/SKILL.md
  .claude/skills/sub-app/SKILL.md
  .claude/skills/sub-app/testing-patterns.md
Due: biome-check, biome-ci-check, markdownlint

fix: Remove API proxy - use direct /api routes for all environments
  apps/web/modules/shared/hooks/use-api-status.ts
  apps/web/vitest.config.ts
  packages/utils/lib/api-url.test.ts
  packages/utils/lib/api-url.ts
Due: biome-check, biome-ci-check

feat(e2e): add dedicated E2E testing package with organized structure
  apps/e2e/.gitignore
  apps/e2e/README.md
  apps/e2e/fixtures/index.ts
  apps/e2e/package.json
  apps/e2e/page-objects/index.ts
  apps/e2e/page-objects/news-analyzer.page.ts
  apps/e2e/playwright.config.ts
  apps/e2e/specs/auth/login.spec.ts
  apps/e2e/specs/settings/avatar-upload.spec.ts
  apps/e2e/specs/smoke/marketing.spec.ts
  apps/e2e/specs/tools/news-analyzer.spec.ts
  apps/e2e/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(e2e): update CI workflow to use dedicated e2e package
  .github/workflows/validate-prs.yml
  package.json
Due: biome-check, biome-ci-check, lockfile-check

fix(e2e): resolve CI failures in E2E tests
  apps/e2e/page-objects/news-analyzer.page.ts
  apps/e2e/specs/smoke/marketing.spec.ts
  apps/e2e/specs/tools/news-analyzer.spec.ts
Due: biome-check, biome-ci-check

fix(e2e): rename test scripts to prevent Turbo picking them up
  .github/workflows/validate-prs.yml
  apps/e2e/README.md
  apps/e2e/package.json
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(e2e): add dedicated E2E testing package with organized structure (#213)
  .github/workflows/validate-prs.yml
  apps/e2e/.gitignore
  apps/e2e/README.md
  apps/e2e/fixtures/index.ts
  apps/e2e/package.json
  apps/e2e/page-objects/index.ts
  apps/e2e/page-objects/news-analyzer.page.ts
  apps/e2e/playwright.config.ts
  apps/e2e/specs/auth/login.spec.ts
  apps/e2e/specs/settings/avatar-upload.spec.ts
  apps/e2e/specs/smoke/marketing.spec.ts
  apps/e2e/specs/tools/news-analyzer.spec.ts
  apps/e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(dx): add unified local dev setup script
  CLAUDE.md
  package.json
  tooling/scripts/src/setup-local.sh
  tooling/scripts/src/setup-local.test.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

docs(skills): update application-environments with pnpm setup
  .claude/skills/application-environments/SKILL.md
  tooling/scripts/src/setup-local.sh
Due: biome-check, biome-ci-check, markdownlint

feat(feedback): add tool feedback collection system with thumbs up/down and AI chat
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/modules/shared/components/ToolFeedback.tsx
  packages/api/modules/agent-sessions/procedures/create-session.ts
  packages/api/modules/agent-sessions/procedures/execute-turn.ts
  packages/api/modules/agent-sessions/procedures/get-session.ts
  packages/api/modules/agent-sessions/router.ts
  packages/api/modules/feedback/procedures/create-feedback.ts
  packages/api/modules/feedback/procedures/get-feedback-stats.ts
  packages/api/modules/feedback/procedures/list-feedback.ts
  packages/api/modules/feedback/procedures/update-feedback.ts
  packages/api/modules/feedback/router.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/migrations/20260129123215_add_tool_feedback/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/tool-feedback.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260129123215_add_tool_feedback.sql
Due: biome-check, biome-ci-check, prisma-sync-check

docs(skills): update application-environments with pnpm setup
  .claude/skills/application-environments/SKILL.md
  CLAUDE.md
  tooling/scripts/src/setup-local.sh
Due: biome-check, biome-ci-check, markdownlint

fix(setup): correct REPO_ROOT path calculation
  tooling/scripts/src/setup-local.sh
Due: none

feat(dx): add unified local dev setup script (#210)
  .claude/skills/application-environments/SKILL.md
  CLAUDE.md
  package.json
  tooling/scripts/src/setup-local.sh
  tooling/scripts/src/setup-local.test.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

test(feedback): add unit tests for tool feedback database queries
  packages/database/prisma/queries/tool-feedback.test.ts
Due: biome-check, biome-ci-check

chore(skills): add guidance for feature branches with new migrations
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

fix(api): relax job ID validation to accept non-CUID formats
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/jobs/types.ts
Due: biome-check, biome-ci-check

fix(ui): show feedback component for all completed jobs
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
Due: biome-check, biome-ci-check

refactor(ui): simplify ToolFeedback to be a drop-in component
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/modules/shared/components/ToolFeedback.tsx
Due: biome-check, biome-ci-check

feat(feedback): allow changing feedback rating for existing items
  apps/web/modules/shared/components/ToolFeedback.tsx
  packages/api/modules/feedback/procedures/get-feedback-for-job.ts
  packages/api/modules/feedback/procedures/update-feedback.ts
  packages/api/modules/feedback/router.ts
  packages/database/prisma/queries/tool-feedback.ts
Due: biome-check, biome-ci-check

feat(feedback): add tool feedback collection system with thumbs up/down and AI chat (#209)
  .claude/skills/application-environments/SKILL.md
  .claude/skills/git-worktrees/SKILL.md
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/modules/shared/components/ToolFeedback.tsx
  packages/api/modules/agent-sessions/procedures/create-session.ts
  packages/api/modules/agent-sessions/procedures/execute-turn.ts
  packages/api/modules/agent-sessions/procedures/get-session.ts
  packages/api/modules/agent-sessions/router.ts
  packages/api/modules/feedback/procedures/create-feedback.ts
  packages/api/modules/feedback/procedures/get-feedback-for-job.ts
  packages/api/modules/feedback/procedures/get-feedback-stats.ts
  packages/api/modules/feedback/procedures/list-feedback.ts
  packages/api/modules/feedback/procedures/update-feedback.ts
  packages/api/modules/feedback/router.ts
  packages/api/modules/jobs/procedures/delete-job.ts
  packages/api/modules/jobs/types.ts
  packages/api/orpc/router.test.ts
  packages/api/orpc/router.ts
  packages/database/prisma/migrations/20260129123215_add_tool_feedback/migration.sql
  packages/database/prisma/queries/index.ts
  packages/database/prisma/queries/tool-feedback.test.ts
  packages/database/prisma/queries/tool-feedback.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/index.ts
  supabase/migrations/20260129123215_add_tool_feedback.sql
Due: biome-check, biome-ci-check, markdownlint, prisma-sync-check

feat: add dev-lifecycle plugin for complete development workflow orchestration
  .claude/plugins/dev-lifecycle/.claude-plugin/plugin.json
  .claude/plugins/dev-lifecycle/CHANGELOG.md
  .claude/plugins/dev-lifecycle/CLAUDE.md
  .claude/plugins/dev-lifecycle/README.md
  .claude/plugins/dev-lifecycle/agents/research/best-practices.md
  .claude/plugins/dev-lifecycle/agents/research/framework-docs.md
  .claude/plugins/dev-lifecycle/agents/research/git-history-analyzer.md
  .claude/plugins/dev-lifecycle/agents/research/learnings.md
  .claude/plugins/dev-lifecycle/agents/review/architecture-strategist.md
  .claude/plugins/dev-lifecycle/agents/review/migration-guardian.md
  .claude/plugins/dev-lifecycle/agents/review/performance-oracle.md
  .claude/plugins/dev-lifecycle/agents/review/security-sentinel.md
  .claude/plugins/dev-lifecycle/agents/review/typescript-reviewer.md
  .claude/plugins/dev-lifecycle/agents/workflow/ci-monitor.md
  .claude/plugins/dev-lifecycle/agents/workflow/linear-orchestrator.md
  .claude/plugins/dev-lifecycle/agents/workflow/worktree-coordinator.md
  .claude/plugins/dev-lifecycle/commands/ci/resolve.md
  .claude/plugins/dev-lifecycle/commands/dev/document.md
  .claude/plugins/dev-lifecycle/commands/dev/merge.md
  .claude/plugins/dev-lifecycle/commands/dev/migrate-database.md
  .claude/plugins/dev-lifecycle/commands/dev/pull-request.md
  .claude/plugins/dev-lifecycle/commands/dev/report-bug.md
  .claude/plugins/dev-lifecycle/commands/dev/start-apps.md
  .claude/plugins/dev-lifecycle/commands/dev/stop-apps.md
  .claude/plugins/dev-lifecycle/commands/skills/review.md
  .claude/plugins/dev-lifecycle/commands/workflows/auto-work.md
  .claude/plugins/dev-lifecycle/commands/workflows/brainstorm.md
  .claude/plugins/dev-lifecycle/commands/workflows/compound.md
  .claude/plugins/dev-lifecycle/commands/workflows/plan.md
  .claude/plugins/dev-lifecycle/commands/workflows/review.md
  .claude/plugins/dev-lifecycle/commands/workflows/work.md
  .claude/plugins/dev-lifecycle/skills/dev-lifecycle.md
  .claude/plugins/dev-lifecycle/templates/learnings-entry.md
  .claude/plugins/dev-lifecycle/templates/linear-ticket.md
  .claude/plugins/dev-lifecycle/templates/pr-description.md
  .claude/plugins/dev-lifecycle/templates/review-report.md
  .claude/settings.local.json
  .markdownlint.json
  CLAUDE.md
Due: biome-check, biome-ci-check, markdownlint

feat: add dev-lifecycle plugin for complete development workflow orchestration (#229)
  .claude/plugins/dev-lifecycle/.claude-plugin/plugin.json
  .claude/plugins/dev-lifecycle/CHANGELOG.md
  .claude/plugins/dev-lifecycle/CLAUDE.md
  .claude/plugins/dev-lifecycle/README.md
  .claude/plugins/dev-lifecycle/agents/research/best-practices.md
  .claude/plugins/dev-lifecycle/agents/research/framework-docs.md
  .claude/plugins/dev-lifecycle/agents/research/git-history-analyzer.md
  .claude/plugins/dev-lifecycle/agents/research/learnings.md
  .claude/plugins/dev-lifecycle/agents/review/architecture-strategist.md
  .claude/plugins/dev-lifecycle/agents/review/migration-guardian.md
  .claude/plugins/dev-lifecycle/agents/review/performance-oracle.md
  .claude/plugins/dev-lifecycle/agents/review/security-sentinel.md
  .claude/plugins/dev-lifecycle/agents/review/typescript-reviewer.md
  .claude/plugins/dev-lifecycle/agents/workflow/ci-monitor.md
  .claude/plugins/dev-lifecycle/agents/workflow/linear-orchestrator.md
  .claude/plugins/dev-lifecycle/agents/workflow/worktree-coordinator.md
  .claude/plugins/dev-lifecycle/commands/ci/resolve.md
  .claude/plugins/dev-lifecycle/commands/dev/document.md
  .claude/plugins/dev-lifecycle/commands/dev/merge.md
  .claude/plugins/dev-lifecycle/commands/dev/migrate-database.md
  .claude/plugins/dev-lifecycle/commands/dev/pull-request.md
  .claude/plugins/dev-lifecycle/commands/dev/report-bug.md
  .claude/plugins/dev-lifecycle/commands/dev/start-apps.md
  .claude/plugins/dev-lifecycle/commands/dev/stop-apps.md
  .claude/plugins/dev-lifecycle/commands/skills/review.md
  .claude/plugins/dev-lifecycle/commands/workflows/auto-work.md
  .claude/plugins/dev-lifecycle/commands/workflows/brainstorm.md
  .claude/plugins/dev-lifecycle/commands/workflows/compound.md
  .claude/plugins/dev-lifecycle/commands/workflows/plan.md
  .claude/plugins/dev-lifecycle/commands/workflows/review.md
  .claude/plugins/dev-lifecycle/commands/workflows/work.md
  .claude/plugins/dev-lifecycle/skills/dev-lifecycle.md
  .claude/plugins/dev-lifecycle/templates/learnings-entry.md
  .claude/plugins/dev-lifecycle/templates/linear-ticket.md
  .claude/plugins/dev-lifecycle/templates/pr-description.md
  .claude/plugins/dev-lifecycle/templates/review-report.md
  .claude/settings.local.json
  .markdownlint.json
  CLAUDE.md
Due: biome-check, biome-ci-check, markdownlint

feat(tools): add Diagram Editor with Mermaid rendering
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/components/tools/diagram-editor/diagram-editor-input.tsx
  apps/web/components/tools/diagram-editor/diagram-editor.tsx
  apps/web/components/tools/diagram-editor/diagram-export.tsx
  apps/web/components/tools/diagram-editor/diagram-preview.tsx
  apps/web/components/tools/diagram-editor/index.ts
  apps/web/components/tools/diagram-editor/lib/export-utils.ts
  apps/web/components/tools/diagram-editor/lib/sample-diagrams.test.ts
  apps/web/components/tools/diagram-editor/lib/sample-diagrams.ts
  apps/web/components/tools/diagram-editor/lib/use-debounce.test.ts
  apps/web/components/tools/diagram-editor/lib/use-debounce.ts
  apps/web/package.json
  config/index.test.ts
  config/index.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

fix(diagram-editor): address security and code quality issues from review
  apps/web/components/tools/diagram-editor/diagram-editor-input.tsx
  apps/web/components/tools/diagram-editor/diagram-editor.tsx
  apps/web/components/tools/diagram-editor/diagram-export.tsx
  apps/web/components/tools/diagram-editor/diagram-preview.tsx
  apps/web/components/tools/diagram-editor/index.ts
  apps/web/components/tools/diagram-editor/lib/export-utils.ts
  apps/web/components/tools/diagram-editor/lib/use-debounce.test.ts
  apps/web/components/tools/diagram-editor/lib/use-debounce.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(tools): add Diagram Editor with Mermaid rendering (#230)
  apps/web/app/(saas)/app/tools/[toolSlug]/page.tsx
  apps/web/components/tools/diagram-editor/diagram-editor-input.tsx
  apps/web/components/tools/diagram-editor/diagram-editor.tsx
  apps/web/components/tools/diagram-editor/diagram-export.tsx
  apps/web/components/tools/diagram-editor/diagram-preview.tsx
  apps/web/components/tools/diagram-editor/index.ts
  apps/web/components/tools/diagram-editor/lib/export-utils.ts
  apps/web/components/tools/diagram-editor/lib/sample-diagrams.test.ts
  apps/web/components/tools/diagram-editor/lib/sample-diagrams.ts
  apps/web/package.json
  config/index.test.ts
  config/index.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

fix(skills): update cross-references for renamed skills
  .claude/skills/ai/SKILL.md
  .claude/skills/application-environments/SKILL.md
  .claude/skills/architecture/SKILL.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/iconography/SKILL.md
  .claude/skills/landing-page-design/SKILL.md
  .claude/skills/sub-app/SKILL.md
  .claude/skills/tools/SKILL.md
  .claude/skills/typography/SKILL.md
Due: biome-check, biome-ci-check, markdownlint

chore: update claude settings
  .claude/settings.json
  .claude/settings.local.json
Due: biome-check, biome-ci-check

fix(ci): resolve lint and test failures
  .github/workflows/validate-prs.yml
  apps/web/components/tools/news-analyzer/lib/history-utils.test.ts
  apps/web/components/tools/news-analyzer/lib/history-utils.ts
  apps/web/components/tools/news-analyzer/news-analyzer-detail.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/news-analyzer/news-analyzer-results.tsx
  apps/web/components/tools/speaker-separation/lib/history-utils.ts
  apps/web/components/tools/speaker-separation/speaker-separation-detail.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/modules/saas/shared/components/CommandPalette.tsx
  apps/web/modules/shared/lib/api-error-utils.ts
  apps/web/modules/tools/components/ExpenseCategorizerTool.tsx
  apps/web/modules/tools/lib/expense-file-parser.ts
  packages/agent-sdk/src/session/examples/feedback-collector.ts
  packages/agent-sdk/src/session/persistence/memory.ts
  packages/agent-sdk/src/session/session.integration.test.ts
  packages/api/modules/jobs/procedures/delete-job.integration.test.ts
  packages/database/prisma/queries/tool-feedback.test.ts
Due: biome-check, biome-ci-check

fix: format settings.local.json
  .claude/settings.local.json
Due: biome-check, biome-ci-check

fix: check tool jobs instead of credit transactions for "Try your first tool" checklist
  apps/web/modules/saas/start/components/DashboardWidgets.test.tsx
  apps/web/modules/saas/start/components/GettingStartedChecklist.tsx
Due: biome-check, biome-ci-check

fix: check tool jobs instead of credit transactions for "Try your first tool" checklist (#248)
  apps/web/modules/saas/start/components/DashboardWidgets.test.tsx
  apps/web/modules/saas/start/components/GettingStartedChecklist.tsx
Due: biome-check, biome-ci-check

fix(diagram-editor): make Reset button icon-only and align with selector
  apps/web/components/tools/diagram-editor/diagram-editor-input.tsx
Due: biome-check, biome-ci-check
