Repository aagnone3/software-multi-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, biome-ci-check, lockfile-check, markdownlint, prisma-sync-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prevent-main-commit
        name: Prevent commits to main branch
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "master" ]; then echo "❌ Direct commits to main/master are not allowed. Create a feature branch first."; exit 1; fi'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^packages/database/prisma/zod/
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check (format + lint)
        entry: pnpm
        args:
          [
            "exec",
            "biome",
            "check",
            "--write",
            "--no-errors-on-unmatched",
          ]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: biome-lint
        name: Biome lint (workspace)
        entry: pnpm
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: biome-ci-check
        name: Biome CI parity check (staged files)
        entry: pnpm
        args: ["exec", "biome", "ci", "--no-errors-on-unmatched"]
        language: system
        pass_filenames: true
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
          - json
          - markdown
          - css
      - id: lockfile-check
        name: Check pnpm lockfile is up to date
        entry: bash
        args:
          - -c
          - |
            if git diff --cached --name-only | grep -q 'package\.json$'; then
              echo "package.json changed, verifying lockfile is up to date..."
              pnpm install --frozen-lockfile 2>&1 | grep -q "ERR_PNPM_OUTDATED_LOCKFILE" && {
                echo "❌ pnpm-lock.yaml is out of date!"
                echo "Run 'pnpm install' to update the lockfile and commit the changes."
                exit 1
              }
              echo "✓ Lockfile is up to date"
            fi
        language: system
        pass_filenames: false
        files: 'package\.json$'
      - id: markdownlint
        name: Markdown lint and format
        entry: pnpm
        args: ["exec", "markdownlint-cli2", "--fix"]
        language: system
        pass_filenames: true
        types: [markdown]
      - id: typescript-type-check
        name: TypeScript type-check (apps/web)
        entry: pnpm
        args: ["--filter", "web", "run", "type-check"]
        language: system
        pass_filenames: false
      - id: prisma-sync-check
        name: Verify Prisma client is in sync with schema
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/check-prisma-sync.ts",
          ]
        language: system
        pass_filenames: false
        files: 'packages/database/prisma/(schema\.prisma|migrations/)'
      - id: targeted-tests
        name: Targeted pnpm tests
        entry: pnpm
        args:
          [
            "--filter",
            "@repo/scripts",
            "exec",
            "tsx",
            "src/pre-commit/run-targeted-tests.ts",
          ]
        language: system
        pass_filenames: true

fix(deps): update inngest to 3.54.0 for Vercel security requirement (#1508)
  apps/web/inngest/functions/contract-analyzer.ts
  apps/web/inngest/functions/expense-categorizer.ts
  apps/web/inngest/functions/feedback-analyzer.ts
  apps/web/inngest/functions/gdpr-exporter.ts
  apps/web/inngest/functions/invoice-processor.ts
  apps/web/inngest/functions/meeting-summarizer.ts
  apps/web/inngest/functions/news-analyzer.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

docs: replace stale Supabase references with Postgres/Docker/Neon
  CONTRIBUTING.md
  apps/web/content/docs/getting-started/overview.mdx
  apps/web/content/docs/index.mdx
Due: biome-check, biome-ci-check, markdownlint

chore(skills): purge Supabase references from .claude skills and plugins
  .claude/plugins/dev-lifecycle/.claude-plugin/plugin.json
  .claude/plugins/dev-lifecycle/CLAUDE.md
  .claude/plugins/dev-lifecycle/README.md
  .claude/plugins/dev-lifecycle/agents/review/architecture-strategist.md
  .claude/plugins/dev-lifecycle/agents/review/migration-guardian.md
  .claude/plugins/dev-lifecycle/skills/dev-lifecycle.md
  .claude/skills/README.md
  .claude/skills/application-environments/SKILL.md
  .claude/skills/architecture/SKILL.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/debugging/platform-supabase.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/troubleshooting.md
  .claude/skills/prisma-migrate/SKILL.md
  .claude/skills/reflect-for-skill-updates/SKILL.md
  .claude/skills/storage/SKILL.md
  .claude/skills/storage/job-upload-patterns.md
  .gitignore
Due: biome-check, biome-ci-check, markdownlint

chore(scripts): rename SUPABASE_DB_PORT to POSTGRES_PORT
  tooling/scripts/src/check-local-preview-user.mjs
  tooling/scripts/src/local-eval-smoke.sh
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/run-local-seed.mjs
  tooling/scripts/src/setup-local.sh
Due: biome-check, biome-ci-check

chore: clean up Supabase leftovers from #1501 (docs, skills, env-var name) (#1512)
  .claude/plugins/dev-lifecycle/.claude-plugin/plugin.json
  .claude/plugins/dev-lifecycle/CLAUDE.md
  .claude/plugins/dev-lifecycle/README.md
  .claude/plugins/dev-lifecycle/agents/review/architecture-strategist.md
  .claude/plugins/dev-lifecycle/agents/review/migration-guardian.md
  .claude/plugins/dev-lifecycle/skills/dev-lifecycle.md
  .claude/skills/README.md
  .claude/skills/application-environments/SKILL.md
  .claude/skills/architecture/SKILL.md
  .claude/skills/debugging/SKILL.md
  .claude/skills/debugging/platform-supabase.md
  .claude/skills/git-worktrees/SKILL.md
  .claude/skills/git-worktrees/troubleshooting.md
  .claude/skills/prisma-migrate/SKILL.md
  .claude/skills/reflect-for-skill-updates/SKILL.md
  .claude/skills/storage/SKILL.md
  .claude/skills/storage/job-upload-patterns.md
  .gitignore
  CONTRIBUTING.md
  apps/web/content/docs/getting-started/overview.mdx
  apps/web/content/docs/index.mdx
  tooling/scripts/src/check-local-preview-user.mjs
  tooling/scripts/src/local-eval-smoke.sh
  tooling/scripts/src/preview-sync/index.mjs
  tooling/scripts/src/run-local-seed.mjs
  tooling/scripts/src/setup-local.sh
Due: biome-check, biome-ci-check, markdownlint

chore: replace remaining Supabase references with Neon
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  apps/web/app/(marketing)/changelog/page.tsx
  apps/web/app/(marketing)/security/page.tsx
  apps/web/tests/avatar-upload.spec.ts
  docker-compose.yml
  docs/architecture-diagrams.md
  packages/database/prisma/schema.prisma
Due: biome-check, biome-ci-check, markdownlint, prisma-sync-check

chore: replace remaining Supabase references with Neon (#1515)
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  apps/web/app/(marketing)/changelog/page.tsx
  apps/web/app/(marketing)/security/page.tsx
  apps/web/tests/avatar-upload.spec.ts
  docker-compose.yml
  docs/architecture-diagrams.md
  packages/database/prisma/schema.prisma
Due: biome-check, biome-ci-check, markdownlint, prisma-sync-check

fix(mail): contact form silently dropping submissions
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/modules/contact/router.test.ts
  packages/mail/src/provider/plunk.ts
  packages/mail/src/provider/providers.test.ts
Due: biome-check, biome-ci-check

fix(mail): contact form silently dropping submissions (#1525)
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/modules/contact/router.test.ts
  packages/mail/src/provider/plunk.ts
  packages/mail/src/provider/providers.test.ts
Due: biome-check, biome-ci-check

feat(contact): submit to HubSpot Forms with Turnstile + email fallback
  .github/workflows/db-migrate-deploy.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  .github/workflows/run-codex-linear.yml
  .github/workflows/run-codex.yml
  .github/workflows/validate-prs.yml
  .github/workflows/weekly-test-summary.yml
  .npmrc
  apps/web/.env.local.example
  apps/web/modules/marketing/home/components/ContactForm.tsx
  apps/web/modules/marketing/home/components/TurnstileWidget.tsx
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/modules/contact/router.test.ts
  packages/api/modules/contact/types.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

ci: grant packages:read to workflows that install dependencies
  .github/workflows/db-migrate-deploy.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  .github/workflows/run-codex-linear.yml
  .github/workflows/run-codex.yml
  .github/workflows/validate-prs.yml
  .github/workflows/weekly-test-summary.yml
Due: none

feat(contact): submit to HubSpot Forms with Turnstile + email fallback (#1526)
  .github/workflows/db-migrate-deploy.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-env-sync.yml
  .github/workflows/run-codex-linear.yml
  .github/workflows/run-codex.yml
  .github/workflows/validate-prs.yml
  .github/workflows/weekly-test-summary.yml
  .npmrc
  apps/web/.env.local.example
  apps/web/modules/marketing/home/components/ContactForm.tsx
  apps/web/modules/marketing/home/components/TurnstileWidget.tsx
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/modules/contact/router.test.ts
  packages/api/modules/contact/types.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

feat(contact): bump @aagnone3/hubspot-forms to 0.2.0 and log error body
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

ci: stop schema-drift detector from flagging pnpm warnings as drift
  .github/workflows/validate-prs.yml
Due: none

feat(contact): bump @aagnone3/hubspot-forms to 0.2.0 + log HubSpot error body (#1528)
  .github/workflows/validate-prs.yml
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

fix(jobs): dispatch Inngest events from create-job so tool jobs actually run
  apps/web/inngest/client.ts
  apps/web/package.json
  packages/api/modules/jobs/procedures/create-job.test.ts
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/jobs/router.test.ts
  packages/api/package.json
  packages/jobs/index.ts
  packages/jobs/lib/client.ts
  packages/jobs/lib/dispatch.test.ts
  packages/jobs/lib/dispatch.ts
  packages/jobs/lib/tool-events.test.ts
  packages/jobs/lib/tool-events.ts
  packages/jobs/package.json
  packages/jobs/tsconfig.json
  packages/jobs/vitest.config.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

ci: skip e2e job when 'preview' label is absent
  .github/workflows/validate-prs.yml
Due: none

fix(jobs): dispatch Inngest events from create-job so tool jobs actually run (#1529)
  .github/workflows/validate-prs.yml
  apps/web/inngest/client.ts
  apps/web/package.json
  packages/api/modules/jobs/procedures/create-job.test.ts
  packages/api/modules/jobs/procedures/create-job.ts
  packages/api/modules/jobs/router.test.ts
  packages/api/package.json
  packages/jobs/index.ts
  packages/jobs/lib/client.ts
  packages/jobs/lib/dispatch.test.ts
  packages/jobs/lib/dispatch.ts
  packages/jobs/lib/tool-events.test.ts
  packages/jobs/lib/tool-events.ts
  packages/jobs/package.json
  packages/jobs/tsconfig.json
  packages/jobs/vitest.config.ts
  pnpm-lock.yaml
Due: biome-check, biome-ci-check, lockfile-check

fix(jobs): actually deduct credits when an authenticated user submits a job
  packages/api/lib/credits/index.ts
  packages/api/lib/credits/queries.ts
  packages/api/lib/credits/service.ts
  packages/api/modules/jobs/procedures/create-job.test.ts
  packages/api/modules/jobs/procedures/create-job.ts
Due: biome-check, biome-ci-check

fix(jobs): actually deduct credits when an authenticated user submits a job (#1530)
  packages/api/lib/credits/index.ts
  packages/api/lib/credits/queries.ts
  packages/api/lib/credits/service.ts
  packages/api/modules/jobs/procedures/create-job.test.ts
  packages/api/modules/jobs/procedures/create-job.ts
Due: biome-check, biome-ci-check

fix(jobs): refund credits on every failure path so the credit ledger stays honest
  apps/web/inngest/functions/contract-analyzer.test.ts
  apps/web/inngest/functions/contract-analyzer.ts
  apps/web/inngest/functions/expense-categorizer.test.ts
  apps/web/inngest/functions/expense-categorizer.ts
  apps/web/inngest/functions/feedback-analyzer.test.ts
  apps/web/inngest/functions/feedback-analyzer.ts
  apps/web/inngest/functions/gdpr-exporter.test.ts
  apps/web/inngest/functions/gdpr-exporter.ts
  apps/web/inngest/functions/invoice-processor.test.ts
  apps/web/inngest/functions/invoice-processor.ts
  apps/web/inngest/functions/meeting-summarizer.test.ts
  apps/web/inngest/functions/meeting-summarizer.ts
  apps/web/inngest/functions/news-analyzer.test.ts
  apps/web/inngest/functions/news-analyzer.ts
  apps/web/inngest/functions/speaker-separation.test.ts
  apps/web/inngest/functions/speaker-separation.ts
  packages/api/lib/credits/queries.ts
  packages/api/lib/credits/service.ts
  packages/api/modules/jobs/lib/job-runner.test.ts
  packages/api/modules/jobs/lib/job-runner.ts
  packages/api/modules/jobs/procedures/cancel-job.test.ts
  packages/api/modules/jobs/procedures/cancel-job.ts
  packages/database/prisma/queries/tool-jobs.test.ts
  packages/database/prisma/queries/tool-jobs.ts
Due: biome-check, biome-ci-check

fix(jobs): refund credits on every failure path so the credit ledger stays honest (#1531)
  apps/web/inngest/functions/contract-analyzer.test.ts
  apps/web/inngest/functions/contract-analyzer.ts
  apps/web/inngest/functions/expense-categorizer.test.ts
  apps/web/inngest/functions/expense-categorizer.ts
  apps/web/inngest/functions/feedback-analyzer.test.ts
  apps/web/inngest/functions/feedback-analyzer.ts
  apps/web/inngest/functions/gdpr-exporter.test.ts
  apps/web/inngest/functions/gdpr-exporter.ts
  apps/web/inngest/functions/invoice-processor.test.ts
  apps/web/inngest/functions/invoice-processor.ts
  apps/web/inngest/functions/meeting-summarizer.test.ts
  apps/web/inngest/functions/meeting-summarizer.ts
  apps/web/inngest/functions/news-analyzer.test.ts
  apps/web/inngest/functions/news-analyzer.ts
  apps/web/inngest/functions/speaker-separation.test.ts
  apps/web/inngest/functions/speaker-separation.ts
  packages/api/lib/credits/queries.ts
  packages/api/lib/credits/service.ts
  packages/api/modules/jobs/lib/job-runner.test.ts
  packages/api/modules/jobs/lib/job-runner.ts
  packages/api/modules/jobs/procedures/cancel-job.test.ts
  packages/api/modules/jobs/procedures/cancel-job.ts
  packages/database/prisma/queries/tool-jobs.test.ts
  packages/database/prisma/queries/tool-jobs.ts
Due: biome-check, biome-ci-check

fix(saas): stop the first-job celebration modal from re-firing on revisits
  apps/web/modules/saas/start/components/FirstJobCelebrationModal.test.tsx
  apps/web/modules/saas/start/components/FirstJobCelebrationModal.tsx
Due: biome-check, biome-ci-check

fix(saas): stop the first-job celebration modal from re-firing on revisits (#1532)
  apps/web/modules/saas/start/components/FirstJobCelebrationModal.test.tsx
  apps/web/modules/saas/start/components/FirstJobCelebrationModal.tsx
Due: biome-check, biome-ci-check

fix(saas): stop credit banners from sliding under the sidebar
  apps/web/modules/saas/shared/components/AppWrapper.tsx
Due: biome-check, biome-ci-check

fix(saas): stop credit banners from sliding under the sidebar (#1533)
  apps/web/modules/saas/shared/components/AppWrapper.tsx
Due: biome-check, biome-ci-check

feat(tools): let users cancel PENDING jobs from the history table
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/modules/analytics/hooks/use-product-analytics.ts
  apps/web/modules/tools/components/CancelJobButton.test.tsx
  apps/web/modules/tools/components/CancelJobButton.tsx
Due: biome-check, biome-ci-check

feat(tools): let users cancel PENDING jobs from the history table (#1534)
  apps/web/components/tools/news-analyzer/news-analyzer-history.tsx
  apps/web/components/tools/speaker-separation/speaker-separation-history.tsx
  apps/web/modules/analytics/hooks/use-product-analytics.ts
  apps/web/modules/tools/components/CancelJobButton.test.tsx
  apps/web/modules/tools/components/CancelJobButton.tsx
Due: biome-check, biome-ci-check

feat(tooling/admin): isolated CLI for ad-hoc cross-env SQL queries
  package.json
  pnpm-lock.yaml
  tooling/admin/.gitignore
  tooling/admin/README.md
  tooling/admin/package.json
  tooling/admin/src/cli.ts
  tooling/admin/src/commands/env-pull.ts
  tooling/admin/src/commands/sql.ts
  tooling/admin/src/db.ts
  tooling/admin/src/env.ts
  tooling/admin/tsconfig.json
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

feat(tooling/admin): isolated CLI for ad-hoc cross-env SQL queries (#1535)
  package.json
  pnpm-lock.yaml
  tooling/admin/.gitignore
  tooling/admin/README.md
  tooling/admin/package.json
  tooling/admin/src/cli.ts
  tooling/admin/src/commands/env-pull.ts
  tooling/admin/src/commands/sql.ts
  tooling/admin/src/db.ts
  tooling/admin/src/env.ts
  tooling/admin/tsconfig.json
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

chore(security): three-layer guard against accidentally committing prod creds
  .gitignore
  .pre-commit-config.yaml
  tooling/admin/README.md
  tooling/admin/scripts/check-secrets.sh
  tooling/admin/src/commands/env-pull.ts
Due: biome-check, biome-ci-check, markdownlint

chore(security): runtime scanner — prod env files only allowed in tooling/admin/.secrets/
  package.json
  tooling/admin/README.md
  tooling/admin/scripts/check-secrets-location.sh
  tooling/admin/src/cli.ts
  tooling/admin/src/commands/doctor.ts
  tooling/admin/src/env.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint

chore(security): three-layer guard against accidentally committing prod creds (#1536)
  .gitignore
  .pre-commit-config.yaml
  package.json
  tooling/admin/README.md
  tooling/admin/scripts/check-secrets-location.sh
  tooling/admin/scripts/check-secrets.sh
  tooling/admin/src/cli.ts
  tooling/admin/src/commands/doctor.ts
  tooling/admin/src/commands/env-pull.ts
  tooling/admin/src/env.ts
Due: biome-check, biome-ci-check, lockfile-check, markdownlint
